<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="" id="baseTag">
    <script>
        document.getElementById("baseTag").href=location.protocol+"//"+location.host+"/";
    </script>
    <title>新闻详情</title>
    <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/portal/news.css"/>
</head>
<body ng-app="newsApp">
<header><com-header></com-header></header>

<br>
<div class="articleWrapper" ng-controller="newsDetailAppCtrl">
    <br>
    <h2 class="articleTitle">{{newsDetail.title}}</h2>
    <h3 class="subTitle"></h3>
    <p class="authorT">
        <span>作者：{{newsDetail.author}}</span>
        <span>发布人：{{newsDetail.author_name}}</span>
        <span>发布时间：{{newsDetail.audit_date}}</span>
        <span>访问次数：{{newsDetail.access_count}}</span>
    </p>

    <div style="border-bottom: 1px solid #c3c3c3;margin-left: 7%;margin-right: 7%; margin-bottom: 25px; margin-top: 15px"></div>

    <div class="articleCon" style="width: 85%">
        <!--{{newsDetail.content}}-->
        <div style="margin:0px auto; text-align:center" ng-repeat="attachment in newsDetail.attachments" ng-if="attachment.file_from == '主附件' || attachment.file_from == '附件正文'">
            <img style="margin: 10px" ng-if="attachment.name.indexOf('jpg') != -1 && params.isShowHeadPic" ng-src="{{attachment.path}}" width="600" height="400">
            <img style="margin: 10px" ng-if="attachment.name.indexOf('JPG') != -1 && params.isShowHeadPic" ng-src="{{attachment.path}}" width="600" height="400">
            <img style="margin: 10px" ng-if="attachment.name.indexOf('png') != -1 && params.isShowHeadPic" ng-src="{{attachment.path}}" width="600" height="400">
            <img style="margin: 10px" ng-if="attachment.name.indexOf('PNG') != -1 && params.isShowHeadPic" ng-src="{{attachment.path}}" width="600" height="400">

            <!--<embed id={{attachment.id}} style="margin: 10px" ng-if="attachment.file_type == 'pdf'" width="100%" src="http://bjecm.cnnp.com.cn/publish2/attachment/show?fileId=20291#pagemode=none" height="500px" type="application/pdf"></embed>-->

            <object classid="clsid:CA8A9780-280D-11CF-A24D-444553540000" ng-if="attachment.file_type == 'pdf'" width="900" height="600" border="0">
                <!--IE-->
                <param name="_Version" value="65539">
                <param name="_ExtentX" value="20108">
                <param name="_ExtentY" value="10866">
                <param name="_StockProps" value="0">
                <param name="toolbar" value="0">
                <!--FF-->
                <!--"http://bjecm.cnnp.com.cn/publish2/attachment/show?fileId=20291#pagemode=none"-->
                <param name="SRC" value={{attachment.path}}>
                <embed border="2" src={{attachment.path}} width="900" height="600" href={{attachment.path}}>
                    <param name="toolbar" value="0">
                </embed>
            </object>

            <video ng-if="attachment.name.indexOf('mp4') != -1" width="800" height="600" controls="controls" autoplay="autoplay">
                <source ng-src={{attachment.path}} type="video/ogg" />
                <source ng-src={{attachment.path}} type="video/mp4">
            </video>
        </div>
        <div ng-bind-html="newsDetail.content"></div>

        <table cellpadding="0" cellspacing="0" width="100%" border="0" class="articleRels" style="margin-top: 20px">
            <tbody>
                <tr>
                    <td width="80" valign="top"  ng-if="params.isShowAttach"><p>相关附件：</p></td>
                    <td ng-repeat="attachment in newsDetail.attachments" ng-if="attachment.file_from == '附件区'">
                        <div id="atch_p">
                            <p class="atchWrapper" id="atchWrapper_7492">
                                {{attachment.name}} (共{{attachment.size}}KB)<a class="link1" href={{attachment.path}} target="_blank">具体内容</a>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<footer><com-footer></com-footer></footer>
<script src="assets/libs/vue.min.js"></script>
<script src="assets/libs/jquery/jquery.min.js"></script>
<script>jQuery.support.cors=true;</script>
<script src="assets/libs/bootstrap/bootstrap.min.js"></script>
<script src="assets/libs/angular/angular.min.js"></script>
<script src='src/portal/newsService.js'></script>
<script src='src/portal/news_detail.js'></script>
<script src='assets/libs/jquery.blockUI.js'></script>
<script>
    var scriptList=['./dist/header-footer.js','./dist/portal.js'];
</script>
<script src="./dist/main.js"></script>
</body>
</html>