
/***********************************
 note:
 color: #e1e1a9 ~ #cccc99 ~ #003300 ~ #669933
***********************************/


/*********************************
 		general style
*********************************/
body{background:#dedede;font-family: "å®‹ä½“","å¾®è½¯é›…é»‘", Tahoma, Arial !important; color:#555;}
div,a{font-family: "å®‹ä½“","å¾®è½¯é›…é»‘", Tahoma, Arial !important;}
.frmBorder{border:#84a7c3 1px solid;}
.treeBody{background:#f5f5f5;}
.btn1{background:transparent url(/assets/images/portal/search_link.gif) left top no-repeat; }
.btn1:hover{background:transparent url(/assets/images/portal/search_link.gif) left top no-repeat; }

/******************************
	pagination 
******************************/
.paginateButtons{background:transparent url(/assets/images/portal/gridFooterBg.gif) repeat-x; height:40px; line-height:40px}


/*********************************
 		header style
*********************************/
/* #line_shadow */
#line_shadow{height:25px;background:url(/assets/images/portal/line_shadow.gif) left top repeat-x;position:relative;z-index:3;}
#headerBg{background:url(/assets/images/portal/bodyBg.gif) left top repeat-y;}
#header{width:1274px; margin:0px auto; background:#fff url(/assets/images/portal/headBg3.jpg) left top repeat-x; height:58px;position:relative;z-index:2;}
#headMain table{color:#626262}

.commonLinks a{color:#A0A0A0}
.commonLinks a:hover{color:#0000ff}



/***********************
		leftPane
***********************/
#leftPaneBody{background:#dedede url(/assets/images/portal/bodyBg2.gif) left top repeat-y; }
#leftMenuWrapper{margin-left:2px}
/* #back */
#back{height:35px;font-size:12px;font-weight:normal;}
#back a{width:100%;height:35px;display:block;position:relative;border-top:#acacac 1px solid}
#back a .back_left{width:10px;height:35px;position:absolute;top:0;left:0;}
#back a .back_middle{height:26px;padding:12px 0 0 30px;color:#58606c;text-shadow:1px 1px #fff;position:absolute;left:10px;right:10px;}
#back a .back_right{width:10px;height:35px;position:absolute;top:0;right:0;}
#back a:link .back_left{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top;/*background:url(/assets/images/portal/back_link_left.gif) left top no-repeat;*/}
#back a:link .back_middle{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top;/*background:url(/assets/images/portal/back_link_middle.gif) left top repeat-x;*/}
#back a:link .back_right{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top;/*background:url(/assets/images/portal/back_link_right.gif) left top no-repeat;*/}
#back a:hover .back_left{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top;/*background:url(/assets/images/portal/back_hover_left.gif) left top no-repeat;*/}
#back a:hover .back_middle{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top;/*background:url(/assets/images/portal/back_hover_middle.gif) left top repeat-x;*/}
#back a:hover .back_right{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top;/*background:url(/assets/images/portal/back_hover_right.gif) left top no-repeat;*/}
#back a .back_middle img{position:absolute;left:5px;top:12px;}

/* menus */
#leftMenu{width:100%;margin:0px;padding:0px}
#leftMenu li{width:100%;padding:0px;background:url(/assets/images/portal/shadow.jpg) left top repeat-y;position:relative;z-index:9999;}
#leftMenu li a{width:100%;height:35px;display:block;position:relative;}
#leftMenu li a .menu_left{width:10px;height:35px;position:absolute;top:0;left:0;}
#leftMenu li a .menu_middle{height:26px; padding:8px 0 0 30px; color:#58606c;text-shadow:1px 1px #fff;position:absolute;left:10px;right:10px;}
#leftMenu li a .menu_right{width:10px;height:35px;position:absolute;top:0;right:0;}

#leftMenu li a.menu_nosel .menu_left{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_link_left.gif) left top no-repeat;*/}
#leftMenu li a.menu_nosel .menu_middle{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_link_middle.gif) left top repeat-x;*/}
#leftMenu li a.menu_nosel .menu_right{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_link_right.gif) left top no-repeat;*/}

#leftMenu li a:link .menu_left{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_link_left.gif) left top no-repeat;*/}
#leftMenu li a:link .menu_middle{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_link_middle.gif) left top repeat-x;*/}
#leftMenu li a:link .menu_right{background:transparent url(/assets/images/portal/leftPaneItemBg.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_link_right.gif) left top no-repeat;*/}

#leftMenu li a:hover .menu_left{background:transparent url(/assets/images/portal/menu_hover_middle.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_hover_left.gif) left top no-repeat;*/}
#leftMenu li a:hover .menu_middle{background:transparent url(/assets/images/portal/menu_hover_middle.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_hover_middle.gif) left top repeat-x;*/}
#leftMenu li a:hover .menu_right{background:transparent url(/assets/images/portal/menu_hover_middle.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_hover_right.gif) left top no-repeat;*/}

#leftMenu li a.menu_sel .menu_left{background:transparent url(/assets/images/portal/leftPaneItemBg_select.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_sel_left.gif) left top no-repeat;*/}
#leftMenu li a.menu_sel .menu_middle{background:transparent url(/assets/images/portal/leftPaneItemBg_select.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_sel_middle.gif) left top repeat-x;*/color:#fff;text-shadow:-1px -1px 3px #004a6e;}
#leftMenu li a.menu_sel .menu_right{background:transparent url(/assets/images/portal/leftPaneItemBg_select.gif) repeat-x left top; /*background:url(/assets/images/portal/menu_sel_right.gif) left top no-repeat;*/}
#leftMenu li a .menu_middle img{position:absolute;left:5px;top:9px;}
/* #menu_bottom */
#menu_bottom{width:100%;height:111px;position:relative;}
#menu_bottom_left{width:10px;height:111px;position:absolute;left:0;top:0;background:url(/assets/images/portal/menu_bottom_left.gif) left top no-repeat;}
#menu_bottom_middle{height:111px;position:absolute;left:10px;right:10px;background:url(/assets/images/portal/menu_bottom_middle.gif) left top repeat-x;}
#menu_bottom_right{width:10px;height:111px;position:absolute;right:0;top:0;background:url(/assets/images/portal/menu_bottom_right.gif) left top no-repeat;}





/*********************************
 		viewport style
*********************************/
.viewBody{background:#dedede url(/assets/images/portal/bodyBg2.gif) right top repeat-y; height:100%}



/*** viewport head ****/
.workplaceHead{margin:0px auto;  }

/***æ ‡é¢˜æ ****/
.wTitle{color:#626262; background:transparent url(/assets/images/portal/titleBg.gif) repeat-x left -1px; height:38px}
.wTitle2{color:#626262; background:transparent url(/assets/images/portal/titleBg2.gif) repeat-x left -1px; height:24px;}

/***å·¥å…·æ ****/
.wToolbar{}
.wToolbarBtm{background:transparent url(/assets/images/portal/gridFooterBg.gif) repeat-x; height:40px; line-height:40px}

/***æœç´¢æ ****/
.searchBar{color:#626262;}
.searchBar input[type="text"]{border:none; width:125px; height:24px;background:url(/assets/images/portal/content_input.gif) left top no-repeat !important}
.searchBar input.shortIpt{border:none; width:80px; height:24px;background:url(/assets/images/portal/content_input_short.gif) left top no-repeat !important}
.searchBar input.longerIpt{border:none; width:180px; height:24px;background:url(/assets/images/portal/content_input2.gif) left top no-repeat !important}

/**** form ****/
div.formWrapper{}
table.col4Frm, table.col2Frm{background:#f6f6f6; border:#9a9bc9 1px solid; border-collapse:collapse}
table.col4Frm td, table.col2Frm td{ border:#bbb 1px solid}
table.col4Frm td.label, table.col2Frm td.label{background:#e9e9e9}


/***åˆ—è¡¨****/
table.listTblOne thead th{background:#303030; color:#ccc; border:1px solid #fff;}
table.listTblOne tbody td{color:#808080; border:1px solid #fff;}
table.listTblOne tbody tr.over td{color:#fff}
table.listTblOne tbody tr.over a:link, table.listTblOne tbody tr.over a:visited, table.listTblOne tbody tr.over a:active{color:#fff}


.batchOps{text-align:right}
.batchOps a{display:inline-block; line-height:25px; }

/* #decorative_line */
#decorative_line{height:32px;margin:0 0 0 0;background:url(/assets/images/portal/decorative_line.jpg) left top repeat-x;}

/**** mtCatBtns ***/
#mtCatBtns{height:28px; background:#fff url(/assets/images/portal/titleBg2.gif) left top repeat-x; text-align:left; margin:0px auto}
#mtCatBtns a{margin:0px 3px}


.popupWrapper h3.selectTitle{background:#fff url(/assets/images/portal/selectTitle.gif) left top no-repeat; width:301px; height:27px; color:#fff}


.org{
	border-bottom: 1px solid #e5e5e5;
	padding: 6px;
	display: block;
}

.ul-org{
	display: table-row;
}

.ul-org >li{
	list-style:none;
	margin: 8px;
	float: left;
	font-family: 'Arial Regular', 'Arial';
	font-weight: 400;
	height: 22px;
	padding: 2px 2px 2px 2px;
	font-style: normal;
	font-size: 13px;
	color: #333333;
}

.span-org   {
	/*padding: 6px 10px 6px 10px;*/
}

.span-org-selected   {
	background:#A1C636;
	padding: 6px 10px 6px 10px;
	border-radius: 4px;
	border-color: #4cae4c;
	color: #fff;
}

/*.li-org{*/
	/*width: 12%;*/
/*}*/
