*,article,section,ul,div,p,td,li{
    margin: 0;padding: 0;
}
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 1.4rem;/*1.4 × 10px = 14px */
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    min-width: 1024px;
    max-width: 80%;
    margin: 0 auto;
}
h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}
.f-icon{background-image:url('../../images/arrow-up-down.png');background-repeat:no-repeat}
.navbar{
    width: 100%;
    margin: 0 auto;
}

.navbar .container-fluid{
    position: relative;
    padding: 0;
    background: #ffffff;
}
.brand{
    float: left;
}

.nav-list{
    list-style: none;
    float: left;
    border-left: 1px solid lightgrey;
    font-size: 14px;
    font-weight: 400;
    color: #797979!important;
}
.navbar-link.com-portal:hover{
    background: #00a2e5;
    color: #ffffff;
}
.dep-portal:hover{
    background: #FFB341;
    color: #ffffff;
}
.navbar-link.workbench:hover{
    background: #ABCB27;
    color: #ffffff;
}
.navbar-link{
    display: inline-block;
    height: 100%;
    position: relative;
    padding:0 3rem;
    color: #797979;
    width: 100%;
}
/*.navbar-link:after{
    content: " ";
    background-image:url('../images/arrow-up-down.png');background-repeat:no-repeat;display:inline-block;height:12px;width:12px;font-size:0;background-position:-89px -45px}

.navbar-link:hover::after{
   background-position:-89px -55px}*/
.nav-list .navbar-link:hover{
    color: #ffffff;
    text-decoration: none;

}
.nav-list .active{
    color: #0066cc;
}
.nav-list-item{
     float: left;
    border-right: 1px solid lightgrey;
    line-height: 5.2rem;
    text-align: center;
    width: 20rem;
 }
 #depPortalNav{
    display: none;
 }
.nav-action{
    /*border: 1px solid blue;*/
    position: absolute;
    top: 0;
    right: 0;
    line-height: 3.2rem;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: grey;
}
.nav-action .login{
    min-width:12rem;
    text-align: center;
}
.nav-action .search{
    min-width: 22rem;
    border-left: solid 1px lightgrey;
    text-align: left;
}
.nav-action .form-control{
    display: inline;
    /*width: auto;*/
    width: 15rem;
}
.nav-action .search{
    padding-left: 3rem;
}
.nav-link{
    position: relative;
}
.nav-panel{
    background-color: white;
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 5.2rem;
    width: 100%;
    height: 16.5rem;
    z-index: 1030;
    font-size: 14px;
    font-weight: 400;
    color: #797979!important;
    margin-left: 0!important;
    margin-right: 0!important;
    border: 1px solid lightgrey;
}
.company>ul:first-child{
    padding-top: 2rem;
}
.nav-panel .list{
     border-top: 1px solid lightgrey;

 }
.nav-panel ul{
    padding: 0 2rem;
    list-style: none;
}

.nav-panel .list-item{
    float: left;
    width: 14%;
    text-align: center;
}
.company .btn:hover{
    background-color: #00a2e5;
    color:#fff
}
.dept-subj .btn:hover{
    background-color: #FFB341;
    color:#fff
}
.dept-subj .list-item{
    width: 25%;
    margin-bottom: -1rem;
}
.dept-subj .title{
    margin-bottom: -2rem;
}

.list.dept{
    position: relative;
}
.dept .split{
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    width: 100%;
    padding: 0 1px;
}
.article{
    padding: 0;
    padding-top: 0.5rem;
    margin: 0 -3px;
}
.article .row{
    margin: 0;
}
.panel{
    padding: 5px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 5px;
}
/*.panel.left{
    padding-left: 0;
}
.panel.right{padding-right: 0;
}*/
.panel a{
    color: #000;
}
.panel .latest{
    color: #00a2e5;
}
.panel a:hover{
    color: #1c88b9;
    text-decoration: none;
}
.panel>div{
    transition: all .2s linear;
    min-height: 36rem;
    height: 36rem;
    border: 1px solid lightgrey;
    border-top: 3px solid #00A2E5;
    overflow: hidden;
}
.panel>div:hover{
    box-shadow: 0  15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.carousel.slide{
    border-top: none;
}
.carousel-caption{
    left: 0;
    right: 0;
    background-color: #000;
    color: #ffffff;
    opacity: 0.7;
    padding-left: 15%;
    padding-right: 15%;
    bottom:0;
    padding-bottom: 3.5rem;
}
.carousel-indicators{
    bottom: 0;
}
@media screen and(min-width: 768px){
.carousel-caption{
    padding-left: 20%;
    padding-right: 20%;
}
}
div.scroll-panel{
    border: none;
    position: relative;
    padding: 5px;
}
.scroll-panel .list{
    position: absolute;
    left:0;
    top: 0;
    padding-top: 1.2rem;
        width: 100%;
}
.scroll-icon{
    background: #E5E5E5;
    width:100% ;
    text-align: center;
    height: 1.2rem;
    position: absolute;
    left: 0;
    z-index: 1000;
}
.scroll-icon .glyphicon{
    color: #ffffff;
    line-height: 0.5rem;
    font-size: 2rem;
}
.scroll-icon:hover{
    background-color: #00a2e5;
}

.scroll-icon.up{
    top: 0;
}
.scroll-icon.down{
    bottom: 0;
}
.scroll-panel .scroll-item{
    height: 8rem;
    margin: 0.3rem 0;
    width: 100%;
    border: 1px solid lightgrey;
}

.scroll-item .col-md-4{
    height: 100%;
    padding: 0.5rem;
}
.scroll-item .col-md-8{
    padding-top: 1rem;
    position: relative;
    height: 100%;
}
.subject-font{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
}.scroll-item .subject-font{
    height: 4rem;
     overflow: hidden;
 }
.desc-font{
    background-color: white;
    /*position: relative;*/
    color: #999999;
    font-size: 1.2rem;
    bottom: 0;
}
.scroll-item  .date{
    position: absolute;
    right: 1.2rem;
    bottom: 5px;
    text-align: right;
}
.scroll-item .site{
    position: absolute;
    bottom: 5px;
    left: 1.5rem;
}
.catalog-panel{
    padding: 0 1rem;
}
.catalog-panel .catalog{
    height: 4rem;
    border-bottom: 1px solid #D0CCC7;
    line-height: 4rem;
    position: relative;
}
.catalog span{
    font-size: 1.6rem;
    font-weight: 700;
}
.catalog .btn{
    position: absolute;
    right: 1rem;
    /*line-height: 3rem;*/
    top: 2px;
    font-size: 1.4rem;
}
.cnnp-trends .material img{
    width: 95%;
    height: 10rem;
    margin:1rem 2% 0;
}
.catalog-panel.cnnp-trends .list-item{
    height: auto;
    line-height: normal;
}
.catalog-panel.cnnp-trends .simple-item{
    height: 6rem;
    position: relative;
    border-top: 1px solid #D0CCC7;
    padding-top:  1rem;
    margin-top: 1rem;
}
.simple-item .subject-font{
    height: 100%;
    overflow: hidden;
    word-wrap: normal;
    padding-right: 3rem;
    margin-left: 2%;
}
.cnnp-trends .material .subject{
    width: 100%;
    padding-right: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:2% 2% -2%;
}
.cnnp-trends .desc{
    line-height: normal;
    padding: 5px;
    height: 4rem;
    padding-right: 3rem;
}
.cnnp-trends  .date{
    position: absolute;
    right: 0;
    top: auto!important;
    bottom: 1rem;
    margin-right: 3%;
}
.message{
    width: 100%;
    height: 100px;
    background: red;
    border: 1px solid blue;
}
.catalog-panel .list{
    padding: 0 1rem 0 1.5rem;
}
.catalog-panel .list-item{

    position: relative;
    list-style: none;
/*margin-left: 1rem;*/
    height: 3.9rem;
    line-height: 3.9rem;
}
.txt .list-item .title::before{
    content: "• ";
    position: relative;
    top: 3px;
    font-size: 2.5rem;
    line-height: 3.9rem;

}

.catalog-panel .list-item .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis ;
    width: 70%;
    display: inline-block;
}
.catalog-panel .list-item .date{
    position: absolute;
    right: 0;
    top: 3px;
    color: #999999;
}
.img-list .list-item{
    list-style: none;
    /*width: 100%;*/
    height: 10rem;
    margin: 3px 0;
}
.img-list img{
    width: 100%;
}
.poster img{
    padding-top: 1rem;
    width: 100%;
    height: 15rem;
}
.poster .list-item{
    margin-top: 1rem;
    border-top: 1px solid #D0CCC7;
    list-style: none;
}
.movie-panel .title{
    margin-top: 1rem;
}
.movie-panel .catalog{
    margin-bottom: 1rem;
}
.panel5 .scroll-item{
    height: 10.5rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #D0CCC7;
}
.panel5 .scroll-item:last-child{
    border-bottom: none;
}
/*
核电在线start
*/

/* 核电在线*/

.panel-online>div{
    top: 0;
    /*height: 100%;*/
    height: 26.5rem;
    width: 10rem;
    border: 1px solid lightgrey;
    /*border-top: 3px solid #00A2E5;*/
    overflow: hidden;
    position: relative;
    float: left;
}
.catalog-panel-online{
    padding: 0 1rem;
}
.catalog-panel-online .catalog-online{
    height: 4rem;
    border-bottom: 1px solid #D0CCC7;
    line-height: 4rem;
    position: relative;
}
.catalog-online span{
    font-size: 1.6rem;
    font-weight: 700;
}
.catalog-online .btn{
    position: absolute;
    right: 1rem;
    /*line-height: 3rem;*/
    top: 2px;
    font-size: 1.4rem;
}
.carousel.slide{
    border-top: none;
}
div.scroll-panel-online{
    border: none;
    /*padding: 5px;*/
}
.scroll-panel-online .list{
    position: absolute;
    left:0;
    top: 0;
    /*width: calc(100% - 1rem);*/
    /*width: 100%;*/
}
.scroll-icon-online{
    background-color: #fff;
    width:100% ;
    height: 31rem;
    text-align: center;
    height: 3rem;
    /*width: 20rem;*/
    /*height: 34rem;*/
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.scroll-icon-online .glyphicon-online{
    color: #FFFFFF;
    line-height: 0.5rem;
    font-size: 2rem;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*padding-top: 0.5rem;*/
    /*color: red;*/
}
.scroll-icon-online:hover{
    background: #00a2e5;
}

.scroll-icon-online.up{
    top: 0;
}
.scroll-icon-online.down{
    bottom: 0;
}
.scroll-panel-online .scroll-item{
    height:7.6rem;
    margin: 1.1rem 0;
    width: 100%;
    border: 1px solid lightgrey;
}
.scroll-item-online .col-md-4{
    height: 100%;
    padding: 0.5rem;
}
.scroll-item-online .col-md-8{
    padding-top: 1rem;
    position: relative;
    height: 100%;
}
.online-list-ul{
    width: 100%;
    height: 25.5rem;
    margin-top: 2.6rem;
}
.online-list-ul>li{
    text-align: center;
    background-color: #fff;
    border-top: 1px solid lightgray;
    list-style: none;
    color: #00a2e5;
}
.online-power{
    width: 100%;
    vertical-align: middle;
    height: 13rem;
    float: left;
    margin-top: 1rem;
    border: 1px solid #E5E5E5;
}

.online-power2{
    width: 100%;
    vertical-align: middle;
    height: 10rem;
    float: left;
    margin-top: 1rem;
    border: 1px solid #E5E5E5;
}
/*.online-power:hover{*/
    /*width: 100%;*/
    /*vertical-align: middle;*/
    /*height: 14rem;*/
    /*float: left;*/
    /*margin-top: 1rem;*/
    /*border: 1px solid #E5E5E5;*/
    /*background-color: lightgray;*/
/*}*/
.online-power-amount span{
    text-align: center;
    /*margin-top: 1rem;*/
    width: 100%;
    height: 2rem;
    float: left;
    vertical-align: top;
}
.online-list-ul .selected-li{
    background-color: #00a2e5;
    color: white;
}
