.article{
    padding: 0;
    margin: 0;
}
.article .row{
    margin: 0;
}
.panel{
    padding: 3px;
}
.panel.left{
    padding-left: 0;
}
.panel.right{padding-right: 0;
}
.carousel.slide{
    border-top: none;
}
div.scroll-panel{
    border: none;
    position: relative;
}
.scroll-icon{
    background: url("../images/portal/grey_line.png");
    width: 100%;
    text-align: center;
    height: 1rem;
}
.scroll-icon .glyphicon{
    color: #ffffff;
    line-height: 0.5rem;
    font-size: 2rem;
}
.scroll-icon.down{
    position: absolute;
    bottom: 0;left: 0;
}
.scroll-panel .scroll-item{
    height: 8.1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 1px solid lightgrey;
}
.scroll-item .col-md-4{
    height: 100%;
    padding: 0.5rem;
}
.scroll-item .col-md-8{
    padding-top: 1rem;
}
.subject-font{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
}
.desc{
    background-color: white;
    position: relative;
    color: #999999;
    font-size: 1.2rem;
}
.scroll-item .desc span{
    position: absolute;
    right: 1.2rem;
}
.catalog-panel{
    padding: 0 1rem;
    text-align: left;
}
.catalog-panel .catalog{
    height: 4rem;
    border-bottom: 1px solid lightgray;
    line-height: 4rem;
    position: relative;
}
.catalog span{
    font-size: 1.6rem;
    font-weight: 700;
}
.catalog .btn{
    position: absolute;
    right: 1rem;
    /*line-height: 3rem;*/
    top: 2px;
    font-size: 1.4rem;
}
.cnnp-trends .material img{
    width: 100%;
}
.cnnp-trends .material .subject{
    width: 100%;
}
.message{
    width: 100%;
    height: 100px;
    border: 1px solid blue;
}
.catalog-panel .list{
    padding: 0 1rem 0 1.5rem;
}
.catalog-panel .list-item{

    position: relative;
    list-style: inside;

    height: 3.9rem;
    line-height: 3.9rem;
}
.catalog-panel .list-item .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis ;
    width: 60%;
    /*list-style: disc inside;*/
}
.catalog-panel .list-item .title::before{
    /*content: "路";*/
    /*display: inline-block;*/
    /* width: 5px;
     height: 5px;
     line-height: 5px;
     background-color: #000;
     border-radius: 50%;*/

}
/*.catalog-panel .list-item .title:hover{
    overflow: visible;
}*/
.catalog-panel .list-item .date{
    position: absolute;
    right: 0;
    top: 0;
}
.img-list .list-item{
    list-style: none;
    /*width: 100%;*/
    height: 10rem;
    margin: 3px 0;
}
.img-list img{
    width: 100%;
}
.poster img{
    padding-top: 1rem;
    width: 100%;
    height: 15rem;
}
.poster .list-item{
    margin-top: 1rem;
    border-top: 1px solid #D0CCC7;
    list-style: none;
}
.movie-panel .title{
    margin-top: 1rem;
}
.movie-panel .catalog{
    margin-bottom: 1rem;
}
.article-list-item{
    height: 5rem;
    list-style: none;
    padding-left: 2rem;
    padding-top: 0.5rem;
}
.article-list-item a{
    text-decoration: none;
    color: black;
    display: block;
    min-width: 15rem;
}
.article-list-item-icon{
    width: 4rem;
    height: 4rem;
}
.article-list-item-span{
    display: inline-block;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    /*margin-bottom: -2rem;*/
    padding-left: 2rem;
    width: 11rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-tool-top{
    height: 19.5rem;
    width: 26rem;
    border: 0px solid lightgrey;
    border-top: 3px solid #A6CC38;
    /*overflow: hidden;*/
}
.panel-tool-bottom{
    min-height: 50rem;
    width: 98%;
    min-width: 10rem;
    border: 1px solid lightgrey;
    border-top: 3px solid #A6CC38;
}
.panel-tool-top-right{

    min-height: 35rem;
    height: 35rem;
    width: 77rem;
    border: 1px solid lightgrey;
    /*border-radius: 6px;*/
    border-top: 3px solid #A6CC38;
    overflow: hidden;
    float: left;

}
.panel-tool-bottom-right{
    /*padding-top: 10px;*/
    /*min-height: 100%;*/
    height: 100%;
    float: left;
    border: 1px solid lightgrey;
    width: 100%;
    border-top: 3px solid #A6CC38;
    overflow: hidden;
}
.panel-tool-bottom-ad{
    min-height: 36rem;
    width: 90%;
    padding-top: 1rem;
}
.panel-common-full-row{
    min-height: 36rem;
    height: 36rem;
    width: 98rem;
    padding-left: 1rem;
    border: 1px solid lightgrey;
    /*border-radius: 6px;*/
    border-top: 3px solid #A6CC38;
    overflow: hidden;
}
.normarl-space{
    width: 100%;
}
.panel-rest{
    min-height: 36rem;
    height: 36rem;
    border: 1px solid lightgrey;
    /*border-radius: 6px;*/
    border-top: 3px solid #A6CC38;
    overflow: hidden;
    /*padding: 3px;*/
}
.catalog-tools{
    height: 4rem;
    border-bottom: 1px solid lightgray;
    /*width: 95%;*/
    line-height: 4rem;
    position: relative;
}
.catalog-tools span{
    font-size: 1.6rem;
    font-weight: 700;
}
.catalog-tools-right-div{
    padding-left: 2rem;
    height: 100%;
    width: 100%;
    line-height: 4rem;
    float: left;
}
.catalog-tools-right-div span{
    font-size: 1.6rem;
    font-weight: 700;
}
.catalog-panel-personal{
    height: 36rem;
    text-align: left;
}
.catalog-panel-personal .catalog{
    height: 4rem;
    width: 96rem;
    border-bottom: 1px solid blue;
    line-height: 4rem;
    position: relative;
}
.first-half-line{
    width: 1rem;
    height: 1.2rem;
    border-bottom: 2px solid #A6CC38;
    float: left;
}
.first-title-line{
    width: 7rem;
    height: 2rem;
    float: left;
    padding-left: 0.5rem;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.first-long-line{
    width: 10rem;
    height: 1.2rem;
    padding-left: 2rem;
    border-bottom: 2px solid #A6CC38;
    position: relative;

}
.today-task{
    width: 49rem;
    height: 2rem;
}
.today-task .line-one{
    width: 2rem;
    height: 1.2rem;
    padding-left: 2rem;
    border-bottom: 2px solid #A6CC38;
    position: relative;

}
.today-task .title{
    width: 7rem;
    height: 2rem;
    position: relative;

    padding-left: 0.5rem;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.today-task .line-two{
    width: 40rem;
    height: 1.2rem;
    padding-left: 2rem;
    border-bottom: 2px solid #A6CC38;
    position: relative;

}
.important-task-title{
    width: 48rem;
    height: 2rem;
    position: relative;

    padding-left: 1rem;
}
.task-item{
    height: 70%;
    width: 18rem;
    position: relative;

}
.task-item>div{
    width: 18rem;
    height: 40%;
    position: relative;

    overflow:auto;
}
.li-task-list{
    list-style: none;
    height: 4rem;
}
.task-list-meet{
    width: 6rem;
    /*height: 3rem;*/
    border: 1px solid #A6CC38;
    border-left: 1rem solid #A6CC38;
    /*position: relative;*/
    float: left;
    background-color: #F3F2F0;
    color: #666666;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
    line-height: 16px;
}
.task-list-detail{
    /*width: 40rem;*/
    height: 3.2rem;
    border: 1px solid gray;
    border-style: dashed;
    padding-left: 1rem;
    background-color: #F3F2F0;
    /*float: left;*/
}
.task-list-spack{
    width: 47rem;
    height: 1rem;
    background-color: white;
    /*float: left;*/
}
.task-list-meet>div{
    width: 5rem;
    height:3rem;
    text-align: center;
    padding-top: 0.5rem;
}
.task-list-detail>div{
    /*width: 39rem;*/
    height: 1.6rem;
}
.task-list-detail-title{
    vertical-align: top;
    color: #333333;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding-top: 0.2rem;
}
.task-list-detail-title-tomorrow span{
    color: #666666;
    font-size: 12px;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

}
.task-list-detail-subtitle{
    vertical-align: top;
    color: #666666;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400;


}
.task-btntype{
    min-width: 15.5rem;
    /*width: 90rem;*/
    height: 4rem;
    text-align: center;
    /*margin-left:1rem;*/
}
.task-btntype>div{
    min-width: 3.5rem;
    width: 11.4%;
    height: 5rem;
    margin-left:1rem;
    float: left;
    vertical-align: top;
}
.task-btntype-title{
    line-height: normal;
    padding-top: 0.2rem;
    min-width: 3.5rem;
    width: 100%;
    height: 2.5rem;
    background-color: #A6CC38;
    vertical-align: bottom;
    text-align: center;
}
.task-btntype-title span{
    padding-top: 0.5rem;
    vertical-align: bottom;
    color: #ffffff;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;


}
.task-btntype-subtitle{
    vertical-align: top;
    line-height: normal;
    min-width: 3.5rem;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #A6CC38;
    padding-bottom: 0.5rem;
}
.task-btntype-subtitle span{
    line-height: normal;
    min-width:3rem;
    vertical-align: top;
    /*color: #999999;*/
    color: black;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /*line-height: 16px;*/
}
.line-tasktype-wedigt{
    width: 98%;
    min-height: 39rem;
    float: left;
    display: none;
    /*margin-left: 0.5rem;*/
}
.line-tasktype-wedigt-arrow{
    margin-left: 1rem;
    width: 100%;
    /*width: 78.5rem;*/
}
.line-tasktype-wedigt-arrow-label{
    height: 1.5rem;
    width: 93%;
    border-bottom: 1px solid #b1d133;
    margin-left:0rem;
    /*vertical-align: middle;*/
}
.line-tasktype-wedigt-arrow-label-img{
    width:1.2rem; height: 1.2rem; margin-bottom: 2.5rem;
}
.line-tasktype-start{
    height: 1.5rem;
    border-bottom: 1px solid black;
    float: left;
}
.line-tasktype-left{
    min-width:0.5rem;
    width: 2.7%;
    min-height:0.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border-bottom:1px solid black;
    -ms-transform: rotate(45deg);
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);/!*IE*!/*/
    -moz-transform: rotate(45deg);/*Firefox*/
    -webkit-transform: rotate(45deg);/*Safari,Chrome*/
    float: left;
}
.line-tasktype-right{
    min-width:0.5rem;
    width: 2.7%;
    min-height:0.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border-top:1px solid black;
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation= 1.35);/!*IE*!/*/
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);/*Firefox*/
    -webkit-transform: rotate(135deg);/*Safari,Chrome*/
    float: left;
}
.line-tasktype-stop{
    height: 1.5rem;
    border-bottom: 1px solid black;
    float: left;
}
.line-tasktype-detail{
    line-height: normal;
    width: 95%;
    height: 4rem;
    margin-top: 1rem;
    float: left;
}
.line-tasktype-detail a{
    text-decoration: none;
}
.line-tasktype-detail .line-tasktype-pretitle{
    min-width:5rem;
    width: 16%;
    height: 2rem;
    /*font-size: 1.6rem;*/
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    float: left;
}
.line-tasktype-detail .line-tasktype-title{
    min-width:42rem;
    width: 80%;
    height: 2rem;
    /*font-size: 1.6rem;*/
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    float: left;
}
.line-tasktype-detail .line-tasktype-subtitle{
    width:30rem;
    height: 2rem;
    float: left;
    color: #999999;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;

}
.line-tasktype-detail .line-tasktype-date{
    height: 2rem;
    float: right;

    padding-right: 3rem;
    color: #999999;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    text-align: right;
}
.popDiv{
    height: 58rem;
    margin-top: 5rem;
    padding-bottom: 0;
    padding-left: calc(50% - 42rem);
    padding-top: 0;
    width: 84rem;
    padding-top: 25%;
}
.ul-wedigt{
    /*padding-top: rem;*/
    background-color: white;
    opacity: 1;
    border: 1px solid lightgray;
    height: 58rem;
    text-align: center;
    vertical-align: middle;
    border-top: 0px;
    width: 84rem;
}
.ul-wedigt li{
    /*border-radius: 10%;*/
    float: left;
    height: 6rem;
    list-style: outside none none;
    margin-left: 4rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    text-align: left;
    vertical-align: middle;
    width: 17rem;
}
.ul-wedigt-item{
    list-style: none;
    padding-top: 1rem;
}
.ul-wedigt li:hover{
    /*background-color: black;*/
    color: #00A2E5;
    border: 1px solid #00A2E5;
}
.ul-wedigt a{
    color: #000000;
    height: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
}
.ul-wedigt a img{
    /*padding-top: 0.5rem;*/
    height: 4rem;
    width: 4rem;
}
.ul-wedigt a span{
    font-size: 1.6rem;
    width: 11rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-align: left;
}
.popViewTitle{
    width: 84rem;
    height: 5rem;
    /*margin-top: 5rem;*/
    border-top: 3px solid #a6cc38;
    background-color: white;
}
.popViewTitleLabel{
    /*width: 80rem;*/
    height: 5rem;
    text-align: center;
    font-size: 2.4rem;
    float: left;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    padding-left: 10rem;
    width: 70rem;
    padding-top: 0.5rem;
}
.bodySpace{
    height: 2rem;
    width: 100%;
    text-align: center;
}
.bodySection{
    width:100%;
    height: 94rem;
    min-width:1024px;
}
.bodySectionLeft{
    width:22%;
    min-width: 10rem;
    height: 100%;
    float: left;
}
.bodySectionLeftTool{
    width: 98%;
    min-height: 20rem;
    margin-top: 1rem;
}
.bodySectionLeftToolDiv{
    padding-left: 1rem;
    width: 100%;
    min-width: 10rem;
    height:99%;
    border: 1px solid lightgrey;
    border-top: 3px solid #A6CC38;
    height: 100%;
}
.bodySectionLeftPortal{
    padding-left: 1rem;
    height: 100%;
    width: 100%;
    min-width: 10rem;
}
.bodySectionLeftPortalMoreSys{
    color: #00a2e5;
    float: right;
    padding-top: 1rem;
    padding-right: 2rem;
}
.bodySectionRight{
    width:82%;
    height:100%;
    float: right;
}
.top-section {
    width:100%; 
}
.bottom-section{
    width: 100%;
}
.headquaters .top-section{
    height: 55%;
}
.headquaters .bottom-section{
    height: 40%;
}
.FQ-plant .top-section{
    height: 63%;
}
.FQ-plant .bottom-section{
    height: 37%;
}
.bodySectionRightCurrentTab{
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 1rem;
}
.bodySectionRightCurentTabTitle{
    width: 100%; height: 4rem; border-top: 3px solid #A6CC38;
}
.bodySectionRightCurrentTabSubTitle{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #A6CC38;
    vertical-align: top;
}
.bodySectionRightCurrentTabSubTitleSpan{
    background-color: white;
    color: black;
    float: left;
    margin-left: 2rem;
    height: 1.4rem;
}
.bodySectionRightCurrentTabSubTitleImp{
    color: #000000;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.bodySectionRightCurrentTabSubTitleOverdue{
    color: #999999;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.bodySectionRightMeeting{
    min-width: 48rem;
    height: 24rem;
    padding-left:1rem;
    float: left;
    overflow: auto;
    width: 100%;
}
.bodySectionRightPlan{
    float: left;
    height: auto;
    margin-left: 2rem;
}
.bodySectionRightPlanDiv{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #A6CC38;
    vertical-align: top;
}
.bodySectionRightPlanSpan{
    background-color: white;
    color: black;
    float: left;
    margin-left: 2rem;
    height: 1.4rem;
}
.workHalfLine-div{
    border-bottom: 2px solid #a6cc38;
    height: 50%;
    vertical-align: top;
    width: 100%;
}
.workHalfLine-span{
    background-color: white; 
    color: black;
    float: left; 
    height: 1.4rem;
    margin-left: 2rem;
    font-weight: 600;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}
.workHalfLineSec-div{
    border-bottom: 2px solid #a6cc38;
    height: 70%;
    vertical-align: top;
    width: 100%;
}
.moreURL{

}
.moreURL:hover{
    cursor: pointer;
}
.ws-edit-pop-div{
    width:100%; 
    background-color: white;
    height:58rem;
}
.ws-edit-pop-div-table{
    width:100%; 
    align:center; 
}
.ws-edit-pop-div-table-tr{
    heigth:100rem;
}
.ws-edit-pop-div-table-LBtn-td{
    margin-left: 4rem;
    padding-top: 2rem; 
    height: 30rem; 
    width: 30rem; 
    float: left;
}
.ws-edit-pop-div-table-btn-td{
    float: left; 
    padding-top: 5rem; 
    width: 10rem; 
    margin-left: 3rem;
    height: 30rem;
}
.ws-edit-pop-div-table-btn-td-input{
    width:65px;
}
.ws-edit-pop-div-table-Rbtn-td{
    padding-top: 2rem; 
    height: 30rem; 
    width: 15rem; 
    float: left;
}
.ws-edit-pop-div-table-select{
    height: 100%;
    float: right; 
    width: 15rem;
}
.title-hover{

}
.default-font{
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}
.title-hover:hover{
    cursor: pointer;
}
.qiRiTiXing{
    background-color: #f3f2f0; 
    border-color: #a6cc3a; 
    border-image: none;
    border-style: dashed dashed dashed solid;
    border-width: 1px 1px 1px 10px;
    margin-top: 0.5rem;
    min-width: 18rem;
    width: 100%;
    height: 4rem; 
    overflow: hidden;
}
.qiRiTiXing-a{
    color: black; 
    text-decoration:none; 
    cursor: pointer;
}
.qiRiTiXing-a-div{
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%; 
    color: black; 
    height: 4rem; 
    padding-left: 1rem;
}
.todoTitle{
    color:#a6cc38; 
    background-color: white; 
    margin-left:2rem;
    font-family: 'Microsoft YaHei Regular','microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}