<table class="table table-bordered">
    <tbody>
    <tr>
        <td colspan="10" style="background: #f3f2f0">创建日程</td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">姓名</td>
        <td colspan="8"><input size="60" type="text" ng-model="editParams.people.username" readonly>
            <button>选择人员</button>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">开始日期</td>
        <td colspan="4">
            <input type="text" class="form-control" id="edit_startdate" style="width: 50%;" readonly ng-model="editParams.startdate"/>
            <!--<div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">-->
                <!--<input size="16" type="text" value="" readonly ng-model="editParams.startdate">-->
                <!--<span class="add-on glyphicon glyphicon-calendar"><i class="icon-th"></i></span>-->
            <!--</div>-->
        </td>
        <td colspan="1" class="td-text">开始时间</td>
        <td colspan="3">
            <select class="select-time" ng-model="editParams.starttime">
                <option>请选择</option>
                <option value="8:00">8:00</option>
                <option value="8:30">8:30</option>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">结束日期</td>
        <td colspan="4">
            <input type="text" class="form-control" id="edit_enddate" style="width: 50%;" readonly ng-model="editParams.enddate"/>
            <!--<div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">-->
                <!--<input size="16" type="text" value="" readonly ng-model="editParams.enddate">-->
                <!--<span class="add-on glyphicon glyphicon-calendar"><i class="icon-th"></i></span>-->
            <!--</div>-->
        </td>
        <td class="td-text" colspan="1">结束时间</td>
        <td colspan="3">
            <select class="select-time" ng-model="editParams.endtime">
                <option>请选择</option>
                <option value="8:00">8:00</option>
                <option value="8:30">8:30</option>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:30">18:00</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">标题</td>
        <td colspan="4">
            <input size="16" type="text" ng-model="editParams.title">
        </td>
        <td class="td-text" colspan="1">日程类型</td>
        <td colspan="3">
            <select class="select-time" ng-model="editParams.scheduletype">
                <option>请选择</option>
                <option value="10025">会议型</option>
                <option value="10026">行程型</option>
                <option value="100272">工作型</option>
                <option value="10028">值班型</option>
                <option value="10029">委托型</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">地点</td>
        <td colspan="4">
            <input size="16" type="text" ng-model="editParams.address">
        </td>
        <td class="td-text" colspan="1">公开范围</td>
        <td colspan="3">
            <select class="select-time" ng-model="editParams.scope">
                <option value="10030">公开</option>
                <option value="10032">私密</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">内容</td>
        <td colspan="8">
            <input size="60" type="text" ng-model="editParams.content">
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">备注</td>
        <td colspan="8">
            <textarea style="width:80%;" rows="4" ng-model="editParams.description"></textarea>
        </td>
    </tr>
    </tbody>
</table>

<div class="container" style="text-align: center; margin-bottom: 10px;">
    <button data-toggle="tab" class="btn btn-primary" ng-click="editSubmit()">保存</button>
    <button style="margin-left: 80px" class="btn btn-primary" href="#schedule" data-toggle="tab">取消</button>
</div>