<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"></title>
        <title>日程管理</title>
        <base href="" id="baseTag">
        <script>
            document.getElementById("baseTag").href=location.protocol+"//"+location.host+"/";
        </script>
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/schedule/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="assets/css/schedule/fullcalendar.css">
        <link rel="stylesheet" href="assets/css/schedule/style.css">
    </head>
    <body ng-app="eventApp">
    <header><com-header></com-header></header>

    <div ng-controller="LeaderCtrl"  class="content-border">
        <div class="container" style="max-width: 100%;min-height: 500px;">
            <div class="row">
                <div class="col-md-12">
                    <br>

                    <h3>日程管理</h3>
                    <div id="myTabContent2" class="tab-content">
                        <div id="schedule" class="tab-pane fade in active">
                            <ul id="myTab" class="nav nav-tabs">
                                <li><a href="/pages/schedule/personal.html">个人日程</a></li>
                                <li class="active"><a>领导日程</a></li>
                                <li><a href="/pages/schedule/all.html">组织日程</a></li>
                                <li><a href="#add" data-toggle="tab"  ng-click="addClick()">新增日程</a></li>
                            </ul>

                            <div id="leader">
                                <div class="text-tips">
                                    <span>公司领导以及部门领导的日程展示，默认展示您所在公司的领导日程信息。</span>
                                </div>

                                <div id="container" class="org">
                                    <div id="left_side">
                                        <span style="float: left"><strong>组织：</strong></span>
                                    </div>
                                    <div id="content">
                                        <ul class="ul-org">
                                            <li ng-repeat="org in orgs" ng-click="orgClick2(org)" class="li-org" ng-if="displayParams.isShowAllOrg || (!displayParams.isShowAllOrg && $index < 10)">
                                                <span class="span-org-selected" ng-show="org.isSelected">{{org.shortname}}</span>
                                                <span class="span-org" ng-show="!org.isSelected">{{org.shortname}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="right_side">
                                        <span style="float: right; padding: 2px;border: 1px solid #000;border-radius: 4px;" class="dropdown-toggle" ng-click="showAllOrgClick()">
                                            <span ng-if="displayParams.isShowAllOrg">收起</span>
                                            <span ng-if="!displayParams.isShowAllOrg">更多</span>
                                            <span class="caret"></span>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="org">-->
                                    <!--<span style="float: left"><strong>组织：</strong></span>-->
                                    <!--<div style="width: 90%">-->
                                        <!--<ul class="ul-org">-->
                                            <!--<li ng-repeat="org in orgs" ng-click="orgClick2(org)" class="li-org">-->
                                                <!--<span class="span-org-selected" ng-show="org.isSelected">{{org.name}}</span>-->
                                                <!--<span class="span-org" ng-show="!org.isSelected">{{org.name}}</span>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<span style="float: right;"><strong>更多：</strong></span>-->
                                    <!--&lt;!&ndash;<button style="float: right" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
                                        <!--&lt;!&ndash;更多 <span class="caret"></span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                <!--</div>-->
                                <br>

                                <div>
                                    <button style="float: left; margin-top: 8px; margin-left: 10px; visibility:hidden" href="#add" data-toggle="tab" ng-click="addClick()">新建日程</button>

                                    <div class="checkbox-event pull-right">
                                        <div>
                                            <img class="img-meeting">
                                            <input type="checkbox" class="text-event" ng-checked="scheduletype[0]" ng-click="scheduleTypeClick(0)"><span class="a-event">会议信息</span></input>
                                        </div>
                                        <div>
                                            <img class="img-travel">
                                            <input type="checkbox"  class="text-event" ng-checked="scheduletype[1]" ng-click="scheduleTypeClick(1)"><span class="a-event">行程信息</span></input>
                                        </div>
                                        <div>
                                            <img class="img-duty">
                                            <input type="checkbox"  class="text-event" ng-checked="scheduletype[2]" ng-click="scheduleTypeClick(2)"><span class="a-event">值班信息</span></input>
                                        </div>
                                        <div>
                                            <img class="img-agent">
                                            <input type="checkbox"  class="text-event" ng-checked="scheduletype[3]" ng-click="scheduleTypeClick(3)"><span class="a-event">委托信息</span></input>
                                        </div>
                                        <div>
                                            <img class="img-holiday">
                                            <input type="checkbox" class="text-event" ng-checked="scheduletype[4]" ng-click="scheduleTypeClick(4)"><span class="a-event">休假信息</span></input>
                                        </div>

                                        <div style="width: 10px;visibility: hidden"></div>
                                    </div>
                                </div>
                                <br>

                                <div id='calendar'  class="calendar"  style=""></div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="add">
                            <div ng-include="'/pages/schedule/event-add.html'"></div>
                        </div>

                        <div class="tab-pane fade" id="detail">
                            <div ng-include="'/pages/schedule/event-detail.html'"></div>
                        </div>
                        
                        <div class="tab-pane fade" id="edit">
                            <div ng-include="'/pages/schedule/event-edit.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer><com-footer></com-footer></footer>
    
	    <script src="assets/libs/angular/angular.min.js"></script>
	    <script src="assets/libs/jquery-1.11.1.min.js"></script>
	    <script src='assets/libs/jquery-ui-1.10.2.custom.min.js'></script>
	    <script src="assets/libs/bootstrap/bootstrap.min.js"></script>
	    <script src="assets/libs/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	    <script src="assets/libs/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	    <script src='src/schedule/fullcalendar.js'></script>
	    <script src="src/schedule/eventservice.js"></script>
	    <script src="src/schedule/leader.js"></script>
	    <script src='assets/libs/jquery.blockUI.js'></script>
        <script src="assets/libs/vue.min.js"></script>
        <script>
            var scriptList=['./dist/header-footer.js','./dist/portal.js'];
        </script>
        <script src="./dist/main.js"></script>
	</body>
</html>
