


.cooper-tabs{
    margin: -4rem 0 0 2rem;
}
.cooper-tabs li{
    margin: 0 .5rem;
    background-color: #fbf9ee;
}
.horizontal-line{
    width: 100%;
}
.tab-pane>p{
    font-size: larger;
    font-family: "microsoft yahei";
    font-weight: bold;
}
.statistics{
    width: 100%;
    margin:0 auto;   
}
.statistics-content{
    width: 14rem;
    height: 5.8rem;/*6.2rem*/
    border: 1px solid  lightgray;
    margin-top:3px;
    float: right;
    text-align: center;
    border-radius: 5px;
}
.statistics-data{
    padding: 5px;
    border-bottom: 1px solid skyblue;
    font-weight: 500;
    background-color: #A1C636;
    color: #fff;
}
.statistics-title{
    color: #000;
}
.inner-tab{
    margin-top: 1rem;
}
.inner-tab li{
        padding: 0 5px;
}
.inner-tab .pagination li{
        padding: 0;
}
.inner-tab .tip{
    color:grey;
}
.filter{
    border: 1px solid lightgray;
    width: 95%;
    border-right: none;
}
.filter-item{
    list-style: none;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items:center;
}
.filter-item li{
    /*float: left;*/
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.filter-field{
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
}
.filter-item .item-title{
    background-color: #F3F2F0;
    text-align: right;
    width: 12rem;
    margin-left: 0;
    margin-right: 0;
    line-height: 4.4rem;
}
.filter-item a:hover{
    background-color: #A1C636;
}
.more li{
    width: 20%;
    padding: 0 1.5rem;
    text-align: center;
}
.more>.btn-group{
    position: static;
}
.more .dropdown-menu{
    max-height: 17.5rem;
    height: auto;
    overflow-y: scroll;
}
.more .dropdown-menu li{    
    float: left;
}
.more .dropdown-menu .btn{
   text-overflow: ellipsis;
   overflow: hidden;
}
.date-select{
    display: flex;
    align-content: center;
}
.date-select *{
    width: auto;
    float: left;
}
.date-select span{
    padding-top: 7px;
}
.filter-field{
    position: relative;
}
.state{
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.state .checkbox-inline{
    font-size: large;
}
.state input{
    margin-top: 7px;
}
.state .btn{
    margin-left: 2rem;
}
.grid-table{padding: 0;}
table.dataTable.no-footer{
    border-bottom: 1px solid lightgrey;
    border-tops: 1px solid lightgrey;
}
.grid-table .pagination{
    margin: 0;
}
.grid-table thead{
    background:url("../images/th_graph.png");
    background-size: cover;
}
.grid-table th{
    vertical-align: middle !important;
    text-align: center;
    border-bottom: none!important;
    color: #fff;
}
.grid-table .head-title{
    margin: 0;
}.grid-table tbody{
    border-bottom: 1px solid #ddd;
}
.grid-table tbody a{
    color: #0000C0;
}
.grid-table .key{
    background-color: lightgrey;
font-weight: bold;
margin: 1rem 0;
}

.grid-table  th{
    /*width: 10%;*/
}
.grid-table  th:hover{
    cursor: pointer;
}
.grid-table  th:nth-child(2){
    width: 27%;
}.grid-table  th:nth-child(8){
    width: 20%;
}.grid-table tbody td{
text-align: center;
      vertical-align: middle!important;
}

.grid-table tbody td:nth-child(2){
    text-align: left;
    width: 27%;
}.grid-table tbody td:nth-child(8){
    text-align: left;
    width: 20%;
}
.grid-table .item-name{
    display: block;
    width: 100%;
    height: 6rem;
    /*overflow: hidden;*/
}
.grid-table .item-name:hover{
   /*text-decoration: none;*/
   cursor: pointer;
}
.grid-table .grid-title{
    background-color: lightgrey;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
.grid-table .level{
    margin-left: calc( 50% - 2rem );
    text-align:center;
    border:1px solid #a1a1a1;
    width:4rem;
    height:4rem;
    line-height: 4rem;
    border-radius:50%!important;
    color:#FFF;
}
.grid-table .progress{
   width: 70%;
    height: 1rem;
    border-radius: 5rem !important;
    margin-bottom: 0;
}
 .small-pro{
    font-size: 0.6rem;
    line-height: 1rem;
     border-radius: .6rem !important;
}
.supervision-level .graph-unit{
    margin-top: 1.5rem;
}

 .supervision-level .td-content{
    height: 4rem;
    overflow: hidden;
 }
.details .title1{
    background-color: #D7D5D5;
}
.details .title2{
    background-color: #F3F2F0;
}
.details .level-head{
    text-align: center;
    font-weight: bold;
}
.details .progress{
    width: 9rem;
    height: 1.5rem;
    border: 1px solid green;
    margin: 0;
    border-radius: 5rem !important;
}
 .child-graph{
    margin-left: 2.5rem;
}
 .child-graph .left{
    width: 1.5rem;
    height: 5rem;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
 .child-graph .right{
     margin:-0.8rem 1.5rem;
 }
 .details .middle{
     text-align: center;
     vertical-align: middle;
 }
.details .middle td{
    text-align: center;
    vertical-align: middle;
}
 .details .menu{
     margin-right: 1rem;
 }
.details .al-right{
    text-align: right;
     vertical-align: middle;
}
.details .al-left{
    text-align: left;
    vertical-align: middle;
}
.details .pro-table{
    margin: 0;
    border-bottom: none;
}
.pagination-outer{
    text-align: right;
}
.hoverInfo{
    padding-bottom:1rem;display: none;position: absolute;top:1.2rem;left:0;background: #f5f5f5;
    opacity: 1;
    z-index: 1000;
    border: 1px solid lightgrey;
    padding-right: 5px;
    right: -5px;
}
.btn-success{
    background-color:#A1C636;
}
/*supervision-all start*/

/*create supervision*/
.create-supervision select{
    width: 50%;
    text-align: center;
}
.create-supervision td{
    display: table-cell;
    vertical-align: middle!important;
}
/*pagination start*/
table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }
/*pagination end*/