<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>协作空间</title>
	<base href="../../">
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/teamworkspace/teamworkspace.css" rel="stylesheet">

</head>
<body>
	<div class="container" id="discussitemsid">
		<div class="container">
			<div class="img_left">
				<img alt="" src="assets/images/teamworkspace/u204.png"> <label
					for="exampleInputFile">协作空间</label>
			</div>
			<div class="img_right">
				<img alt="" src="assets/images/teamworkspace/u204.png">
				<!-- 下拉框   Start -->
				<select class="option">
					<option value="#">此项目协作空间</option>
					<option value="#">我的项目协作空间</option>
					<option value="#">公共项目协作空间</option>
				</select>
				<!-- 下拉框   end -->
				<input class="input_search" placeholder="搜索" type="text"></input>
			</div>
		</div>
		<div class="container" id="subheading">
			<div style="float: left;">
				<label for="exampleInputFile">中国核电ECM二期项目PMO</label>
			</div>
			<div style="float: right;">
				<a href="#">关注此协作空间</a> | <a href="#">加入此协作空间</a>
			</div>
		</div>
		<!-- 主要内容   开始 -->
		<div class="container" id="main-content">
			<!-- 左边内容  开始 -->
			<div class="main-content-left">
				<img src="assets/images/teamworkspace/u208.png" class="img-responsive"
					alt="Cinque Terre">
				<!-- 管理员  开始 -->

				<div style="padding-bottom: 20px; width: 100%;">
					<div class="img-line-left01"></div>
					<div style="float: left;">管理员</div>
					<div class="img-line-left02"></div>
					<div class="img-u164" id="mangerimg">
						<img src="{{item.imgurl}}" class="img-circle" v-for="item in items">
					</div>

				</div>
				<!-- 管理员  结束 -->
				<!-- 管理员职责  开始 -->
				<div class="obligation">
					<div class="img-line-left01"></div>
					<div style="float: left;">管理员职责</div>
					<div class="img-line-left02"></div>
					<div style="float: left; margin-left: 10px;">
						1.更新社区描述信息;<br> 2.更新社区描述信息;<br> 3.更新社区描述信息;<br> ...
					</div>
				</div>
				<!-- 管理员职责  结束 -->
				<!-- 社区制度  开始 -->
				<div class="regime" style="float: left; width: 100%;">
					<div class="img-line-left01"></div>
					<div style="float: left;">社区制度</div>
					<div class="img-line-left02"></div>
					<div style="float: left; margin-left: 10px;">
						1.更新社区描述信息;<br> 2.更新社区描述信息;<br> 3.更新社区描述信息;<br> ...
					</div>
				</div>
				<!-- 社区制度  结束 -->

			</div>
			<!-- 左边内容  结束 -->
			<!-- 中间内容  开始 -->
			<div class="main-content-mid">
				<!-- 社区描述   开始 -->
				<div class="community">
					<div class="img-line-mid01"></div>
					<div style="float: left;">社区描述</div>
					<div class="img-line-mid02"></div>
					<img src="assets/images/teamworkspace/u249.png" class="img-responsive"
						alt="Cinque Terre">
					<div style="padding-left: 32.5px;">欢迎访问中国核电ECM二期项目PMO交流空间。</div>
					<div style="padding-left: 32.5px;">欢迎访问中国核电ECM二期项目PMO交流空间。</div>
				</div>
				<!-- 社区描述   结束 -->
				<!-- 文档   开始 -->
				<div class="document">
					<div style="padding-top:10px;">
						<div class="img-line-mid01"></div>
						<div style="float: left;">文档</div>
						<div class="img-line-mid02"></div>
					</div>
					
						<img alt="" src="assets/images/teamworkspace/u265.png" class="img-u265">
						<div style="margin-left: 20px;" id="documentid">
							<!-- 文档单个列表 -->
							<div style="border-bottom:1px solid #CAC8C7;" v-for="item in docuitems">
									<img style="height: 20px; float: left;" src="assets/images/teamworkspace/u204(2).png" class="img-responsive">
									<a>{{item.file_name_}}</a>
								<div style="font-size: 12px;">文件由 
								<span >{{item.file_user_ ? '中美':''}}</span>
								于<span>{{item.createDate}}</span> 创建 | <span>0次下载</span>
								</div>
							</div>
						</div>
						<div class="check-all">
							<a style="font-size: 12px">查看全部</a>
						</div>

				</div>
				<!-- 文档   结束 -->
				<!-- 任务协作   开始 -->
				<div class="task">
					<div style="padding-top:10px;">
						<div class="img-line-mid01"></div>
						<div style="float: left;">任务协作</div>
						<div class="img-line-mid02"></div>
					</div>
					<img alt="" src="assets/images/teamworkspace/u265.png" class="img-u265" >
					<div class="">
					<img src="assets/images/teamworkspace/u367.png" class="img-responsive" style="padding-top: 20px; padding-left: 20px;"
						alt="Cinque Terre">
						</div>
				</div>
				<!-- 任务协作   结束 -->
				<!-- 讨论组   开始 -->
				<div class="discussion">
					<div style="padding-top:10px;">
						<div class="img-line-mid01"></div>
						<div style="float: left;">讨论组</div>
						<div class="img-line-mid02"></div>
					</div>
					<img alt="" src="assets/images/teamworkspace/u265.png" class="img-u265">
					<div style="margin-left: 20px; margin-top: 10px;" >
						<div style="border-bottom:1px solid #CAC8C7;" v-for="item in discussitems">
								<img style=" height: 19px; float: left; " src="assets/images/teamworkspace/u217.png" class="img-responsive">
								<a>{{item.remarkname}}</a>
							<div style="font-size: 12px;">发起人  <span>{{item.createusername}}</span>|
								<span>{{item.createtime}}</span> | <span>{{item.backnum}}个回复</span>
							</div>
						</div>
						
					</div>	
						<div class="check-all">
							<a style="font-size: 12px">查看全部</a>
						</div>
				</div>
				<!-- 讨论组   结束 -->
				<!-- 发帖开始 -->
				<div class="topic" style="width:100%;">
				<div style="padding-bottom:30px;">
						<div class="img-line-mid01"></div>
						<div style="float: left;">发帖</div>
						<div class="img-line-mid02"></div>
				</div>
				<div style="width:100%;">
					<!-- 主题输入框 -->
				  <div class="form-group">
				    <label for="name">主题</label>
				    <input type="text" id="distitle" class="form-control" placeholder="请输入主题">
				  </div>
				<label for="name">发帖内容</label>
				<!-- 加载编辑器的容器 -->
			    <script id="container-text" name="content" type="text/plain">
       			这里写你的发帖内容
    			</script>
			    <!-- 配置文件 -->
			    <script type="text/javascript" src="src/ueditor/ueditor.config.js"></script>
			    <!-- 编辑器源码文件 -->
			    <script type="text/javascript" src="src/ueditor/ueditor.all.js"></script>
			    <!-- 实例化编辑器 -->
			    <script type="text/javascript">
			        var ue = UE.getEditor('container-text');
			    </script>
				</div>
				<!-- 提交按钮   -->
				<button type="button" class="btn btn-info" style="float:right; margin: 10px;" @click="sumbitext">提交</button>
				</div>
				<!--发帖结束  -->
			</div>
			<!-- 中间内容  结束 -->
			<!-- 右边内容  开始 -->
			<div style="float: left;" id="main-content-right">
				<!-- 成员   开始 -->
				<div class="member" id="empimgerurl">
					<div class="img-line-right01" ></div>
					<div style="float: left;">成员</div>
					<div class="img-line-right02" ></div>
					<div style="padding-left: 5px;">
					<img src="{{item.imgurl}}" class="img-circle" v-for="item in eitems">
					</div>
					<div style=" padding-top: 10px; padding-left: 10px;">
						<a style=" font-size: 12px;" id="empcount">查看全部(0人)</a>
					</div>
				</div>
				<!-- 成员   结束 -->
				<!-- 相关协作空间   开始 -->
				<div style="padding-top:2px;">
				<div class="img-line-right01"></div>
				<div style="float: left;">相关协作空间</div>
				<div class="img-line-right02"></div>
				<div style="float: left;" class="workspace-img">
					<div class="con" style="line-height: 40px; padding-left: 10px;">
						<img src="assets/images/teamworkspace/u208.png" class="img-responsive">
						<span>福清核电ECM项目</span>
					</div>
					<div class="con" style="line-height: 40px; padding-left: 10px;">
						<img src="assets/images/teamworkspace/u208.png" class="img-responsive">
						<span>福清核电ECM项目</span>
					</div>
					<div class="con" style="line-height: 40px; padding-left: 10px;">
						<img src="assets/images/teamworkspace/u208.png" class="img-responsive">
						<span>福清核电ECM项目</span>
					</div>
					<div style="padding-top: 10px; padding-left: 10px;">
						<a style="font-size: 12px;">查看全部(8)</a>
					</div>
				</div>
				</div>
				<!-- 相关协作空间   结束 -->
			</div>
			<!-- 右边内容  结束 -->
		</div>
		<!-- 主要内容   开始 -->
	</div>
<script src="assets/libs/jquery-2.1.1.min.js"></script>
<script src="assets/libs/bootstrap.min.js"></script>
<script src="assets/libs/teamworkspace/vue.min.js"></script>
<script src="assets/libs/teamworkspace/moment.min.js"></script>
<script type="text/javascript">
$(function() {
var pid='13ceb7690c0ecdc5-277fa3b914cbbd2a384-7f7a';
var documentvm = new Vue({
	  el: '#discussitemsid',
	  data: {
		//文档
		 docuitems: '',
		 //管理员
		 items:'',
		 //员工
		 eitems:'',
		 discussitems: '' 
	  },
	  // 在 `methods` 对象中定义方法
	  methods: {
		  greet: function (event) {
			var _self = this;
			//请求后台,得到文档数据
	    	$.ajax({ 
	    		type: "get",
		        data:{pid:pid},//pid--项目id
		        url: 'assets/libs/teamworkspace/data/docment.js',//需换成正式环境的url//接口名 /contacts/getFileinfo
		        success(result, state, jqxhr){	
		        	var docuitems =[];
		        	jQuery.each(docmentjson,function(i, item) {
		        		if(item.file_user_==null ||item.file_user_=="null"||item.file_user_==undefined){
		        			item.file_user_='';
		        		}
		        		if(item.createDate!=null ||item.createDate!="null"||item.createDate!=undefined){
		        			var createDate = moment(item.createDate).format('YYYY-MM-DD');
		        			item.createDate =createDate;
		        		}
// 						if(i<=2){
			        		docuitems.push(item);
// 						}
		        	});
		        	_self.docuitems=docuitems;
		        },error(result, state, jqxhr)
			    {
			        console.log("error", jqxhr);
			    }
		        
	    	});
		  },loadimg:function(event){
			  var _self = this;
			  $.ajax({
			        type: "get",
			        data:{pid:pid},//pid--项目id
			        url: 'assets/libs/teamworkspace/data/data.js',//需换成正式环境的url 接口名为 /contacts/getUserInfo
			        success(result, state, jqxhr)
			    	{	
			        	var items = [];
			        	let eitems=[];
			    		if (result==null) {return;};
			    		
			    		//datajson为测试环境,在正式环境下,换成result即可
			    		jQuery.each(datajson,function(i, item) {
			    			//postStyle 1,2管理员 3.成员
			    			if(item.postStyle==1 || item.postStyle==2){
			    				if(item.imgurl==null ||item.imgurl=="null"||item.imgurl==undefined){
			    					item.imgurl='assets/images/personalpage/defaultUserPhoto.png';//当imgurl为空时,或没此字段时,请换成默认图片
			    				}
				    			items.push(item);
			    			}
			    			
			    			//成员
			    			if(item.postStyle==3){
			    				if(item.imgurl==null ||item.imgurl=="null"||item.imgurl==undefined){
			    					item.imgurl='assets/images/personalpage/defaultUserPhoto.png';//当imgurl为空时,或没此字段时,请换成默认图片
			    				}
				    			eitems.push(item);
			    			}
							
			    		})
			    		if(eitems==null || items==null){return;}
			    		//统计成员人数
			    		$('#empcount').html("查看全部("+eitems.length+"人)");
						// 给管理员区域赋值
						_self.items=items;
						_self.eitems = eitems;
			    	},
				    error(result, state, jqxhr)
				    {
				        console.log("error", jqxhr);
				    }
				});
		  },discusslist:function(event){
			  var _self = this;
			$.ajax({ 
	    		type: "get",
	    		//传递主题id
		        url: 'http://172.16.51.137:8000/api/V1.0/collspace/Colltopic/2',//需换成正式环境的url
		        success(result, state, jqxhr){	
		        	var discussitems =[];
		        	jQuery.each(result,function(i, item) {
// 						if(i<=2){
							discussitems.push(item);
// 						}
		        	});
		        	_self.discussitems=discussitems;
		        },error(result, state, jqxhr)
			    {
			        console.log("error", jqxhr);
			    }
	    	});
		  },sumbitext:function(event){
		  	var _self = this;
		  	var datatemp= [];
			//主题
			var remarkname =$('#distitle').val();
			//文本信息
		   	var description =UE.getEditor('container-text').getPlainTxt();
		   	description = $.trim(description);
			if(description==null || description==''){
				alert('内容不能为空!');
				return;
			}
			if(remarkname==null ||remarkname==''){
				alert('主题不能为空!');
				return;
			}
	//collspaceid 空间ID  createuserid 用户信息   topicid 主题id  description 描述内容 remarkname 帖子标题
	//collspaceid:9,createuserid:5,topicid:'2',description:description,remarkname:remarkname
			 $.ajax({
			        type: "post",
			        data:JSON.stringify({collspaceid:9,createuserid:5,topicid:'2',description:description,remarkname:remarkname}),//pid--项目id
			        contentType: "application/json",
			        url: 'http://172.16.51.137:8000/api/V1.0/collspace/Colltopic/add',//讨论组
			        success(result, state, jqxhr)
			    	{	
			        	if(result!=null && result!='null' && result!=undefined){
			        		alert('新增成功!');
			        	}
			        	var disdata = _self.discussitems;
			        	jQuery.each(disdata,function(i, item) {
			        		//如果相同的 collspaceid(空间id),则视为修改其中已存在的帖
			        		if(item.collspaceid==result.collspaceid){
			        			_self.discussitems.splice(i, 1);
			        			return true;
			        		}
			        		datatemp.push(item);
			        	});
			        	
				        datatemp.push(result);
			        	_self.discussitems = datatemp;
			    	},error(result, state, jqxhr)
				    {	
				        console.log("error", jqxhr);
				    }
			        
			    });
		  }
		  
	  }
	});
//加载管理员和成员头像图片
documentvm.loadimg();
//加载文档数据
documentvm.greet();
//加载讨论组
documentvm.discusslist();
});
	</script>
</body>
</html>