<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>协作空间</title>
<!-- <base href="http://172.16.51.144/"/> -->
<base href="http://10.15.251.110/">
<link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/teamworkspace/teamworkspace.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/teamworkspace/team-workspace.css"/>
<link rel="stylesheet" href="assets/css/teamworkspace/openWorkspace.css"/>
<link rel="stylesheet" type="text/css" href="assets/libs/swiper/swiper-3.3.1.min.css">
    <script src="assets/libs/vue.min.js"></script>
</head>
<body style="width: 100%; min-width: 1200px;">
	<header>
    	<com-header></com-header>
	</header>
	<div class="container" id="discussitemsid" style="width:100%; padding:0;">
		<div class="co-title-div" style="border-bottom:0.5rem solid #a6cc38; width:100%; ">
    		<div class="co-title" style="width:100%;height: 100%">
      <img src="assets/images/portal/workspace/u204.png" class="co-title-img"><span class="co-title-span" style="font-size:14px;">协作空间</span> 
    </div>
  </div>
  <div style="width: 100%; height: 3rem; min-width: 1024px; margin-top: 1rem;">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="pages/teamworkspace/teamworkspace-owner.html">查找空间</a></li>
            <li role="presentation" class="active"><a href="pages/teamworkspace/team-workspace.html">进入空间</a></li>
            <li role="presentation"><a href="pages/teamworkspace/teamworkspace-edit.html">新建空间</a></li>
        </ul>
    </div>
		<div class="container" id="subheading" style="border-top:0; width: 100%; margin-top:2rem;">
			<div style="float: left;">
				<label for="exampleInputFile">中国核电ECM二期项目PMO</label>
			</div>
			<div style="float: right;">
				<a href="#">关注此协作空间</a> | <a href="#">加入此协作空间</a>
			</div>
		</div>
		<!-- 主要内容   开始 -->
		<div class="container" id="main-content" style="width:100%;">
			<!-- 左边内容  开始 -->
			<div class="main-content-left">
				<img src="assets/images/teamworkspace/u208.png" class="img-responsive"
					alt="Cinque Terre">
				<!-- 管理员  开始 -->

				<div style="padding-bottom: 20px; width: 100%;">
					<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">管理员</span>
                        </div>
                    </div>
					<div class="img-u164" id="mangerimg">
						
					</div>

				</div>
				<!-- 管理员  结束 -->
				<!-- 管理员职责  开始 -->
				<div class="obligation" style="width: 100%;">
					<!-- <div class="img-line-left01"></div>
					<div style="float: left;">管理员职责</div>
					<div class="img-line-left02"></div> -->
					<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">管理员职责</span>
                        </div>
                    </div>
					<div style="float: left; margin-left: 10px;">
						1.更新社区描述信息;<br> 2.更新社区描述信息;<br> 3.更新社区描述信息;<br> ...
					</div>
				</div>
				<!-- 管理员职责  结束 -->
				<!-- 社区制度  开始 -->
				<div class="regime" style="float: left; width: 100%;">
					<!-- <div class="img-line-left01"></div>
					<div style="float: left;">社区制度</div>
					<div class="img-line-left02"></div> -->
					<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">社区制度</span>
                        </div>
                    </div>
					<div style="float: left; margin-left: 10px;">
						1.更新社区描述信息;<br> 2.更新社区描述信息;<br> 3.更新社区描述信息;<br> ...
					</div>
				</div>
				<!-- 社区制度  结束 -->

			</div>
			<!-- 左边内容  结束 -->
			<!-- 中间内容  开始 -->
			<div class="main-content-mid">
				<!-- 社区描述   开始 -->
				<div class="community">
					<!-- <div class="img-line-mid01"></div>
					<div style="float: left;">社区描述</div>
					<div class="img-line-mid02"></div> -->
					<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">社区描述</span>
                        </div>
                    </div>
					<img src="assets/images/teamworkspace/u249.png" class="img-responsive"
						alt="Cinque Terre">
					<div style="padding-left: 32.5px;">欢迎访问中国核电ECM二期项目PMO交流空间。</div>
					<div style="padding-left: 32.5px;">欢迎访问中国核电ECM二期项目PMO交流空间。</div>
				</div>
				<!-- 社区描述   结束 -->
				<!-- 文档   开始 -->
				<div class="document">
					<div style="padding-top:10px;">
						<!-- <div class="img-line-mid01"></div>
						<div style="float: left;">文档</div>
						<div class="img-line-mid02"></div> -->
						<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">文档</span>
                        </div>
                    </div>
					</div>
					
						<img alt="" src="assets/images/teamworkspace/u265.png" class="img-u265" onclick="shrink('documentsAll');">
						<div style="margin-left: 20px;" id="documentid">
							<!-- 文档单个列表 -->
							<div id="documentThree">
								<!-- <div style="border-bottom:1px solid #CAC8C7;" v-for="item in docuitems">
									<img style="height: 20px; float: left;" src="assets/images/teamworkspace/u204(2).png" class="img-responsive">
									<a>{{item.file_name_}}</a>
									<div style="font-size: 12px;">文件由
										<span >{{item.file_user_ ? '中美':''}}</span>
										于<span>{{item.createDate}}</span> 创建 | <span>0次下载</span>
									</div>
								</div> -->
							</div>
							<div id="documentsAll">
								<!-- <div style="border-bottom:1px solid #CAC8C7; display: none;" v-for="item in docuitems">
									<img style="height: 20px; float: left;" src="assets/images/teamworkspace/u204(2).png" class="img-responsive">
									<a>{{item.file_name_}}</a>
									<div style="font-size: 12px;">文件由
										<span >{{item.file_user_ ? '中美':''}}</span>
										于<span>{{item.createDate}}</span> 创建 | <span>0次下载</span>
									</div>
								</div> -->
							</div>

						</div>
						<div class="check-all" onclick="showallDocuments();">
							<a style="font-size: 12px">查看全部</a>
						</div>

				</div>
				<!-- 文档   结束 -->
				<!-- 任务协作   开始 -->
				<div class="task">
					<div style="padding-top:10px;">
						<!-- <div class="img-line-mid01"></div>
						<div style="float: left;">任务协作</div>
						<div class="img-line-mid02"></div> -->
						<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">任务协作</span>
                        </div>
                    </div>
					</div>
					<img alt="" src="assets/images/teamworkspace/u265.png" class="img-u265" >
					<div class="">
					<img src="assets/images/teamworkspace/u367.png" class="img-responsive" style="padding-top: 20px; padding-left: 20px;"
						alt="Cinque Terre">
						</div>
				</div>
				<!-- 任务协作   结束 -->
				<!-- 讨论组   开始 -->
				<div class="discussion">
					<div style="padding-top:10px;">
						<!-- <div class="img-line-mid01"></div>
						<div style="float: left;">讨论组</div>
						<div class="img-line-mid02"></div> -->
						<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">讨论组</span>
                        </div>
                    </div>
					</div>
					<img alt="" src="assets/images/teamworkspace/u265.png" class="img-u265">
					<div style="margin-left: 20px; margin-top: 10px;" >
						<div style="border-bottom:1px solid #CAC8C7;" v-for="item in discussitems">
								<img style=" height: 19px; float: left; " src="assets/images/teamworkspace/u217.png" class="img-responsive">
								<a>{{item.remarkname}}</a>
							<div style="font-size: 12px;">发起人  <span>{{item.createusername}}</span>|
								<span>{{item.createtime}}</span> | <span>{{item.backnum}}个回复</span>
							</div>
						</div>
						
					</div>	
						<div class="check-all">
							<a style="font-size: 12px">查看全部</a>
						</div>
				</div>
				<!-- 讨论组   结束 -->
				<!-- 发帖开始 -->
				<div class="topic" style="width:100%;">
				<div style="padding-bottom:30px;">
						<!-- <div class="img-line-mid01"></div>
						<div style="float: left;">发帖</div>
						<div class="img-line-mid02"></div> -->
						<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">发帖</span>
                        </div>
                    </div>
				</div>
				<div style="width:100%;">
					<!-- 主题输入框 -->
				  <div class="form-group">
				    <label for="name">主题</label>
				    <input type="text" id="distitle" class="form-control" placeholder="请输入主题">
				  </div>
				<label for="name">发帖内容</label>
				<!-- 加载编辑器的容器 -->
			    <script id="container-text" name="content" type="text/plain">
       			这里写你的发帖内容
    			</script>
			    <!-- 配置文件 -->
			    <script type="text/javascript" src="src/ueditor/ueditor.config.js"></script>
			    <!-- 编辑器源码文件 -->
			    <script type="text/javascript" src="src/ueditor/ueditor.all.js"></script>
			    <!-- 实例化编辑器 -->
			    <script type="text/javascript">
			        var ue = UE.getEditor('container-text');
			    </script>
				</div>
				<!-- 提交按钮   -->
				<button type="button" class="btn btn-info" style="float:right; margin: 10px;" @click="sumbitext">提交</button>
				</div>
				<!--发帖结束  -->
			</div>
			<!-- 中间内容  结束 -->
			<!-- 右边内容  开始 -->
			<div style="float: left;" id="main-content-right">
				<!-- 成员   开始 -->
				<div class="member" id="empimgerurl">
					<!-- <div class="img-line-right01" ></div>
					<div style="float: left;">成员</div>
					<div class="img-line-right02" ></div> -->
					<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">成员</span>
                        </div>
                    </div>
					<div style="padding-left: 5px;" id="teamMembersDiv">
					
					</div>
					<div style=" padding-top: 10px; padding-left: 10px;">
						<a style=" font-size: 12px;" id="empcount">查看全部(0人)</a>
					</div>
				</div>
				<!-- 成员   结束 -->
				<!-- 相关协作空间   开始 -->
				<div style="padding-top:2px;">
				<!-- <div class="img-line-right01"></div>
				<div style="float: left;">相关协作空间</div>
				<div class="img-line-right02"></div> -->
				<div class="co-leftDiv-doc-title">
                        <div class="co-leftDiv-doc-title-bgLine">
                            <span class="co-leftDiv-doc-title-char">相关协作空间</span>
                        </div>
                    </div>
				<div style="float: left; margin-top:0.5rem;" class="workspace-img">
					<div class="con" style="line-height: 40px; padding-left: 10px; margin-left: 0.5rem; width:100%;">
						<img src="assets/images/teamworkspace/u208.png" class="img-responsive">
						<span style="float:left; margin-left:1rem;">福清核电ECM项目</span>
					</div>
					<div class="con" style="line-height: 40px; padding-left: 10px;margin-left: 0.5rem; width:100%;">
						<img src="assets/images/teamworkspace/u208.png" class="img-responsive">
						<span style="float:left; margin-left:1rem;">福清核电ECM项目</span>
					</div>
					<div class="con" style="line-height: 40px; padding-left: 10px;margin-left: 0.5rem; width:100%;">
						<img src="assets/images/teamworkspace/u208.png" class="img-responsive">
						<span style="float:left; margin-left:1rem;">福清核电ECM项目</span>
					</div>
					<div style="padding-top: 10px; padding-left: 10px; width:100%;">
						<a style="font-size: 12px;">查看全部(8)</a>
					</div>
				</div>
				</div>
				<!-- 相关协作空间   结束 -->
			</div>
			<!-- 右边内容  结束 -->
		</div>
		<!-- 主要内容   开始 -->
	</div>
<footer style="margin-top: 1rem; position: relative ;">
    <com-footer></com-footer>
</footer>
<script src="assets/libs/jquery-1.11.1.min.js"></script>
<script src="assets/libs/bootstrap/bootstrap.min.js"></script>
<script src="assets/libs/teamworkspace/vue.min.js"></script>
<script src="assets/libs/teamworkspace/moment.min.js"></script>
<script src="assets/libs/teamworkspace/teamworkspaceUrl.js"></script>
<script src="assets/libs/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="dist/header-footer.js"></script>
<script type="text/javascript">
	function showallDocuments(){
		$("#documentsAll").show();
	}
	function shrink(parmar){
		if(parmar == "documentsAll"){
			$("#documentsAll").hide();
		}
	}
$(function() {
var pid='13ceb7690c0ecdc5-277fa3b914cbbd2a384-7f7a';
var getUserInfo = "http://172.16.51.137:8010/api/contact/getUserInfo?apikey=e71982d5401b488da4acef8827c41845&pid=";
var getDocuments =  "http://172.16.51.137:8010/api/contact/getFileinfo?apikey=e71982d5401b488da4acef8827c41845&pid=";
var documentvm = new Vue({
	  el: '#discussitemsid',
	  data: {
		//文档
		 docuitems: '',
		 //管理员
		 items:'',
		 //员工
		 eitems:'',
		 discussitems: '' 
	  },
	  // 在 `methods` 对象中定义方法
	  methods: {
		  greet: function (event) {
			var _self = this;
			//请求后台,得到文档数据
	    	$.ajax({ 
	    		type: "get",
		        // data:{pid:pid},//pid--项目id
		        contentType:"application/json",
		        url: getDocuments + pid,//需换成正式环境的url//接口名 /contacts/getFileinfo
		        success(result, state, jqxhr){
		        	var docuitems =[];
		        	var documentsThree ='';
		        	var documentsAllDoc = '';
		        	for(var i=0; i<result.length; i++){
		        		if(result[i].file_user_==null ||result[i].file_user_=="null"||result[i].file_user_==undefined){
		        			result[i].file_user_='';
		        		}
		        		if(result[i].createDate!=null ||result[i].createDate!="null"||result[i].createDate!=undefined){
		        			var createDate = moment(result[i].createDate).format('YYYY-MM-DD');
		        			result[i].createDate =createDate;
		        		}
		        		var iconImages = "";
		        		if ((typeof(result[i].imageurl) == "undefined") || (typeof(result[i].imageurl) == "")) {
                    		iconImages = "assets/images/personalpage/defaultUserPhoto.png";
		                } else {
		                    iconImages = result[i].imageurl;
		                }
		                var fileUser = result[i].file_user_ ? '中美':'';
		        		if(i<3){
		        			documentsThree = documentsThree +'<div style="border-bottom:1px solid #CAC8C7;"><img style="height: 20px; float: left;" '+
			        		'src="assets/images/teamworkspace/u204(2).png" class="img-responsive"><a>'+result[i].file_name_+
			        		'</a><div style="font-size: 12px;">文件由<span >'+ fileUser +
			        		'</span>于<span>'+result[i].createDate+'</span> 创建 | <span>0次下载</span></div></div>';
		        		}else{
		        			documentsAllDoc = documentsAllDoc +'<div style="border-bottom:1px solid #CAC8C7;"><img style="height: 20px; float: left;" '+
			        		'src="assets/images/teamworkspace/u204(2).png" class="img-responsive"><a>'+result[i].file_name_+
			        		'</a><div style="font-size: 12px;">文件由<span >'+ fileUser +
			        		'</span>于<span>'+result[i].createDate+'</span> 创建 | <span>'+iconImages+'+次下载</span></div></div>';
		        		}
		        	}
		        	$("#documentThree").html(documentsThree);
		        	$("#documentsAll").hide();
		        	$("#documentsAll").html(documentsAllDoc);		
		        	_self.docuitems=docuitems;
		        },error(result, state, jqxhr)
			    {
			        console.log("error", jqxhr);
			    }
		        
	    	});
		  },loadimg:function(event){
			  var _self = this;
			  var membersCount= 0;
			  $.ajax({
			        type: "get",
			        // data:{pid:pid},//pid--项目id
			        contentType:"application/json",
			        url: getUserInfo + pid,//需换成正式环境的url 接口名为 /contacts/getUserInfo
			        success(result, state, jqxhr)
			    	{	
			    		if(result.length == 0){
			    			return;
			    		}
			    		var managers = "";
			            var teamMembers ="";
			    		for(var i=0; i<result.length; i++){
			        		var iconImages = "";
			        		if ((typeof(result[i].imageurl) == "undefined") || (typeof(result[i].imageurl) == "")) {
	                    		iconImages = "assets/images/personalpage/defaultUserPhoto.png";
			                } else {
			                    iconImages = result[i].imageurl;
			                }
			                
			        		if(result[i].postStyle==1 || result[i].postStyle==2){
			        			managers = managers +'<img src="'+iconImages+'" class="img-circle" v-for="item in items">';
			        		}else if(result[i].postStyle==3){
			        			membersCount ++;
			        			teamMembers = teamMembers +'<img src="'+iconImages+'" class="img-circle" v-for="item in eitems">';
			        		}
		        		}
		        		$("#mangerimg").html(managers);
		        		$("#teamMembersDiv").html(teamMembers);
			        	// var items = [];
			        	// let eitems=[];
			    		// if (result==null) {return;};
			    		
			    		//datajson为测试环境,在正式环境下,换成result即可
			    		// jQuery.each(datajson,function(i, item) {
			    			//postStyle 1,2管理员 3.成员
			    			// if(result.postStyle==1 || item.postStyle==2){
			    			// 	if(item.imgurl==null ||item.imgurl=="null"||item.imgurl==undefined){
			    			// 		item.imgurl='assets/images/personalpage/defaultUserPhoto.png';//当imgurl为空时,或没此字段时,请换成默认图片
			    			// 	}
				    		// 	items.push(item);
			    			// }
			    			
			    			// //成员
			    			// if(item.postStyle==3){
			    			// 	if(item.imgurl==null ||item.imgurl=="null"||item.imgurl==undefined){
			    			// 		item.imgurl='assets/images/personalpage/defaultUserPhoto.png';//当imgurl为空时,或没此字段时,请换成默认图片
			    			// 	}
				    		// 	eitems.push(item);
			    			// }
							
			    		// })
			    		// if(eitems==null || items==null){return;}
			    		//统计成员人数
			    		$('#empcount').html("查看全部("+membersCount+"人)");
						// 给管理员区域赋值
						// _self.items=items;
						// _self.eitems = eitems;
			    	},
				    error(result, state, jqxhr)
				    {
				        console.log("error", jqxhr);
				    }
				});
		  },discusslist:function(event){
			  var _self = this;
			$.ajax({ 
	    		type: "get",
	    		//传递主题id
		        url: 'http://172.16.51.137:8000/api/V1.0/collspace/Colltopic/'+pid,//需换成正式环境的url
		        success(result, state, jqxhr){	
		        	var discussitems =[];
		        	jQuery.each(result,function(i, item) {
// 						if(i<=2){
							discussitems.push(item);
// 						}
		        	});
		        	_self.discussitems=discussitems;
		        },error(result, state, jqxhr)
			    {
			        console.log("error", jqxhr);
			    }
	    	});
		  },sumbitext:function(event){
		  	var _self = this;
		  	var datatemp= [];
			//主题
			var remarkname =$('#distitle').val();
			//文本信息
		   	var description =UE.getEditor('container-text').getPlainTxt();
		   	description = $.trim(description);
			if(description==null || description==''){
				alert('内容不能为空!');
				return;
			}
			if(remarkname==null ||remarkname==''){
				alert('主题不能为空!');
				return;
			}
	//collspaceid 空间ID  createuserid 用户信息   topicid 主题id  description 描述内容 remarkname 帖子标题
	//collspaceid:9,createuserid:5,topicid:'2',description:description,remarkname:remarkname
			 $.ajax({
			        type: "post",
			        data:JSON.stringify({collspaceid:9,createuserid:5,topicid:'2',description:description,remarkname:remarkname}),//pid--项目id
			        contentType: "application/json",
			        url: 'http://172.16.51.137:8000/api/V1.0/collspace/Colltopic/add',//讨论组
			        success(result, state, jqxhr)
			    	{	
			        	if(result!=null && result!='null' && result!=undefined){
			        		alert('新增成功!');
			        	}
			        	var disdata = _self.discussitems;
			        	jQuery.each(disdata,function(i, item) {
			        		//如果相同的 collspaceid(空间id),则视为修改其中已存在的帖
			        		if(item.collspaceid==result.collspaceid){
			        			_self.discussitems.splice(i, 1);
			        			return true;
			        		}
			        		datatemp.push(item);
			        	});
			        	
				        datatemp.push(result);
			        	_self.discussitems = datatemp;
			    	},error(result, state, jqxhr)
				    {	
				        console.log("error", jqxhr);
				    }
			        
			    });
		  }
		  
	  }
	});
//加载管理员和成员头像图片
documentvm.loadimg();
//加载文档数据
documentvm.greet();
//加载讨论组
documentvm.discusslist();
});
	</script>
</body>
</html>