<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"></title>
        <title>首页公司门户管理</title>
        <base href="" id="baseTag">
        <script>
            document.getElementById("baseTag").href=location.protocol+"//"+location.host+"/";
        </script>
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/portalManage/style.css">
    </head>
    <body ng-app="portalApp">
    <header><com-header></com-header></header>

    <div ng-controller="PortalAdminCtrl" class="content-border">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div ng-include="'/pages/portalManage/tmp_navigation.html'"></div>
                </div>

                <div  class="col-md-11">
                    <br>

                    <h3>首页公司门户管理</h3>

                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#list" data-toggle="tab">企业门户列表</a></li>
                        <li><a href="#addOrEdit" data-toggle="tab" ng-click="addClick(true)">新建/编辑</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content" style="margin-top: 30px;">
                        <div class="tab-pane fade in active" id="list">
                            <div>
                                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                                    <thead>
                                    <tr style="background: #00b0f0">
                                        <th class="th-text">门户名称</th>
                                        <th class="th-text">门户链接</th>
                                        <th class="th-text">门户优先级</th>
                                        <th class="th-text">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div>
                                        <tr class="odd gradeX" ng-repeat="portal in portalList">
                                            <td class="td-text">{{portal.name}} </td>
                                            <td class="td-text"><a>www.baidu.com</a></td>
                                            <td class="td-text">1</td>
                                            <td class="td-text">
                                                <div>
                                                    <a ng-click="addClick(false, portal)">编辑</a>
                                                    <a ng-click="portalOperate($index, 'del')">删除</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>

                                <h4 style="width: 100%; text-align: center; margin: 20px" ng-if="portalList.length == 0">您还没有任何新建任何公司门户，快试试去新建吧！</h4>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="addOrEdit">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="td-text-left" colspan="2">门户ID</td>
                                    <td colspan="8"><input class="input-padding" size="60" type="text" readonly placeholder="自动生成" ng-model="curPortal.id"></td>
                                </tr>
                                <tr>
                                    <td class="td-text-left" colspan="2">门户名称</td>
                                    <td colspan="4">
                                        <input class="input-padding" size="26" type="text" ng-model="curPortal.name" placeholder="请输入门户名称">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-text-left" colspan="2">门户地址</td>
                                    <td colspan="4"><input class="input-padding" size="50" type="text" ng-model="curPortal.description" placeholder="请输入门户说明"></td>
                                    <td class="td-text-left" colspan="2">门户优先级(优先级越大，显示越前)</td>
                                    <td colspan="3">
                                        <input class="input-padding" style="width: 120px" type="text" ng-model="curPortal.index" placeholder="请输入门户优先级">
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="container" style="margin-bottom: 20px">
                                <button class="btn btn-primary" data-toggle="tab" ng-click="addPortal()" style="margin-left: 380px">保存</button>
                                <button class="btn" style="margin-left: 60px" ng-click="listClick()">取消</button>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer><com-footer></com-footer></footer>
        <script src="assets/libs/angular/angular.min.js"></script>
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/bootstrap.min.js"></script>
        <script src="/src/portalManage/portalservice.js"></script>
        <script src="/src/portalManage/companyPortalManage.js"></script>
        <script src='/assets/libs/jquery.blockUI.js'></script>
        <script src="assets/libs/vue.min.js"></script>
        <script>
            var scriptList=['./dist/header-footer.js','./dist/portal.js'];
        </script>
        <script src="./dist/main.js"></script>
    </body>
</html>