<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="apploication/json">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>督办管理-我的督办</title>
    <base href="http://172.16.51.144/">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/daterangepicker.css" rel="stylesheet">
    <link href="assets/css/supervision.css" rel="stylesheet">   
    <script src="assets/libs/vue.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var hidNode = null;
        function hoverFunction(x) {
            hidNode = x.getElementsByClassName("hoverInfo")[0];
            hidNode.style.display = "block";

        }
        function outFunction(x) {
            hidNode.style.display = "none";
        }
    </script>
</head>
<body>
<!--head-->
<header>
    <com-header></com-header>
</header>
<!--head end-->
<article>
    <section>

        <div role="tabpanel" class="tab-pane fade in active">           
            <div class="btn-group" role="group" aria-label="..." style="margin-top: 1rem;">
                督办管理
                  ><a type="button">我的督办</a>
            </div>

            <img class="horizontal-line" src="assets/images/hori-line.png"/>
             <div class="statistics">
             <style scoped>
             .statistics-content{
                margin-top: -3px;
             }
             </style>
                <div class="statistics-content">
                    <p class="statistics-data">15/24</p>
                    <p class="statistics-title">完成情况统计</p>
                </div>
            </div>
            <section class="inner-tab ">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a >我的督办</a></li>
                    <li role="presentation"><a href="pages/supervision/supervision-all.html">全部督办</a></li>
                    <li role="presentation" ><a href="pages/supervision/supervision-edit.html">新建督办</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-panel fade in active">
                        <p class="tip"><span>展示与您相关的督办信息，包括您作为责任领导和责任人的督办任务。</span></p>
                        <section id="filterSection">
                            <div class="filter">
                                <ul class="filter-item filter-time" id="datePicker">
                                    <li class="item-title" style="text-align: center;">计划完成时间：</li>
                                    <!--  <li v-for="n in 4"><a :class="['btn',{'btn-success':}]" data-mark="all" @click="changeTime($event)">全部</a></li> -->

                                    <li><a class="btn btn-success" data-mark="all" @click="changeTime($event)">全部</a>
                                    </li>
                                    <li><a class="btn" data-mark="lastweek" @click="changeTime($event)">上周</a></li>
                                    <li><a class="btn" data-mark="thisweek" @click="changeTime($event)">本周</a></li>
                                    <li><a class="btn" data-mark="nextweek" @click="changeTime($event)">下周</a></li>
                                    <li class="date-select">
                                        <input type="text" class="form-control" id="startDate"
                                               placeholder="请选择开始日期"/><span>&nbsp;  到 &nbsp;</span>
                                        <input type="text" class="form-control" id="endDate" placeholder="请选择结束日期"/>
                                        <a class="btn btn-default " style="margin-left: 1.5rem;" data-mark="custom"
                                           @click="changeTime($event)">时段</a>
                                    </li>

                                </ul>
                                <ul class="filter-item filter-field clearfix">
                                    <li class="item-title">领域：</li>
                                    <li v-for="n in (area.length>7?7:area.length)">
                                        <a :class="['btn',{'btn-success':area[n].status=='1'}]"
                                           @click="changeArea($index,'area')">{{area[n].dicname}}</a>
                                    </li>

                                    <li class="more" v-if="area.length>7">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                更多 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu panel panel-default">
                                                <template v-for="n in (area.length-7)">
                                                    <li @click="changeArea((n+7),'area')"><a>{{<area>[n+7]</area>.dicname}}</a></li>
                                                </template>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="filter-item filter-field field-res">
                                    <li class="item-title filter-res">督办来源：</li>
                                    <li v-for="n in (source.length>7?7:source.length)"><a @click="changeArea($index,'source')"
                                            :class="['btn',{'btn-success':source[n].status=='1'}]">{{source[n].dicname}}</a></li>
                                    <li class="more" v-if="source.length>7">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                更多 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu panel panel-default" style="width: 100%;">
                                                <template v-for="n in (source.length-7)">
                                                    <li ><a :class="['btn','drop-menu-btn',{'btn-success':item.status=='1'}]" @click="changeArea($index+7,'source')">{{source[n+7].dicname}}</a></li>
                                                </template>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="filter-item field-res">
                                  <li class="item-title filter-res">会议分类：</li>
                                  <li v-for="item in derivedMeeting"><a @click="changeMeeting($index)"
                                                    :class="['btn',{'btn-success':item.status=='1'}]">{{item.dicname}}</a></li>
                                </ul>
                            </div>
                          
                        </section>
                        <section class="grid-table container-fluid " id="result-section">

                            <div class="key">
                                <p>需重点关注的未完成督办事项（满足以下条件之一：a.一周内过期或已过期 b.重要程度≥4 c.紧急程度≥4）</p>
                            </div>
                            <!-- /.key -->
                            <!-- /.table table-condensed -->
                            <!-- /.row -->
                            <div id="keySec">
                                <table class="table table-hover table-condensed content-key datatable" id="keyList">
                                    <thead>
                                    <tr>
                                        <th v-for=" n in 8" :class="[keyItems.sorting[n]]" @click="sortColumn(n,'key')">
                                            {{ths[n].val}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="grid-content " v-for="item in keyItems.show">
                                        <td>{{item.code}}</td>
                                        <td><a class="item-name" :href="'pages/supervision/supervision-detail.html?id='+item.id+'&previous=mine'">{{item.name}}</a></td>
                                        <td>{{item.accountablename}}</td>
                                        <td>{{item.responsiblename}}</td>
                                        <td>{{item.estimatedcompletetiontime}}</td>
                                        <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.urgency-1]}">{{item.urgency}}</div>
                                        </td>
                                        <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.importance-1]}">{{item.importance}}</div>
                                        </td>
                                        <td>
                                            <div onmouseover="hoverFunction(this)" onmouseout="outFunction(this)"
                                                 style="position: relative;">
                                                <div class="progress">
                                                    <div :class=['progress-bar','small-pro',item.rateState]
                                                         role="progressbar"
                                                         aria-valuenow="{{item.rate}}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         :style="{width: item.rate+'%'}">
                                                        {{item.rate}}%
                                                    </div>
                                                </div>
                                                <span style="display: block;width: 100%;height: 4rem;overflow-y: hidden;">{{item.latestDesc}}
                                                </span>

                                                <div class="hoverInfo">{{item.latestDesc}}</div>
                                                <!-- /.hoverInfo -->
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <form class="form-horizontal" style="width: 15rem;float: right;">
                                  <div class="form-group">
                                    <label  class="col-sm-5 control-label">条数</label>
                                    <div class="col-sm-7">
                                     <select class="form-control" id="keyPageSize" > 
                                    <option value="3">3</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    </select> 
                                    </div>
                                  </div>
                                </form>
                               <!--  <div class="page-number" style="width: 15rem;float: right;">
                                     <span style="display: inline-block;">每页显示条数</span> 
                                 <select class="form-control" id="keyPageSize" style="display: inline-block;"> 
                                    <option value="3">3</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    </select> 
                                </div>
 -->
                                <div class="pagination-outer" id="key-pagination">
                                 
                               
                                </div>

                                <!-- </div> -->
                                <div class="key">
                                    <p>其他未完成督办事项 (未完成的，不在以上表格中的事项）</p>
                                </div>
                                <table class="table table-hover table-condensed content-key" id="otherList">
                                    <thead>
                                    <tr>
                                        <th v-for=" n in 8" :class="[otherItems.sorting[n]]"
                                            @click="sortColumn(n,'other')">{{ths[n].val}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="grid-content " v-for="item in otherItems.show">
                                        <td>{{item.code}}</td>
                                         <td><a class="item-name" :href="'pages/supervision/supervision-detail.html?id='+item.id+'&previous=mine'">{{item.name}}</a></td>
                                        <td>{{item.accountablename}}</td>
                                        <td>{{item.responsiblename}}</td>
                                        <td>{{item.estimatedcompletetiontime}}</td>
                                       <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.urgency-1]}">{{item.urgency}}</div>
                                        </td>
                                        <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.importance-1]}">{{item.importance}}</div>
                                        </td>
                                        <td>
                                            <div onmouseover="hoverFunction(this)" onmouseout="outFunction(this)"
                                                 style="position: relative;">
                                                <div class="progress">
                                                    <div :class=['progress-bar','small-pro',item.rateState]
                                                         role="progressbar"
                                                         aria-valuenow="{{item.rate}}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         :style="{width: item.rate+'%'}">
                                                        {{item.rate}}%
                                                    </div>
                                                </div>
                                                <span style="display: block;width: 100%;height: 4rem;overflow-y: hidden;">{{item.latestDesc}}
                                                </span>

                                                <div class="hoverInfo">{{item.latestDesc}}
                                                </div>
                                                <!-- /.hoverInfo -->
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="pagination-outer" id="other-pagination">
                                </div>
                                <div class="key">
                                    <p>近期已完成的督办事项（一个月内）</p>
                                </div>
                                <table class="table table-hover table-condensed content-key" id="doneList">
                                    <thead>
                                    <tr>
                                        <th v-for=" n in 8" :class="[doneItems.sorting[n]]"
                                            @click="sortColumn(n,'done')">{{ths[n].val}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="grid-content " v-for="item in doneItems.show">
                                        <td>{{item.code}}</td>
                                         <td><a class="item-name" :href="'pages/supervision/supervision-detail.html?id='+item.id+'&previous=mine'">{{item.name}}</a></td>
                                        <td>{{item.accountablename}}</td>
                                        <td>{{item.responsiblename}}</td>
                                        <td>{{item.estimatedcompletetiontime}}</td>
                                       <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.urgency-1]}">{{item.urgency}}</div>
                                        </td>
                                        <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.importance-1]}">{{item.importance}}</div>
                                        </td>
                                        <td>
                                            <div onmouseover="hoverFunction(this)" onmouseout="outFunction(this)"
                                                 style="position: relative;">
                                                <div class="progress">
                                                    <div :class=['progress-bar','small-pro',item.rateState]
                                                         role="progressbar"
                                                         aria-valuenow="{{item.rate}}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         :style="{width: item.rate+'%'}">
                                                        {{item.rate}}%
                                                    </div>
                                                </div>
                                                <span style="display: block;width: 100%;height: 4rem;overflow-y: hidden;">{{item.latestDesc}}
                                                </span>

                                                <div class="hoverInfo">{{item.latestDesc}}
                                                </div>
                                                <!-- /.hoverInfo -->
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                
                                </div>
                                <div class="pagination-outer" id="done-pagination">
                                <div class="page-number" style="display: inline-block;width: 150px;">
                                    <select class="form-control" v-model="pageSize">
                                    <option v-for="option in sizeOptions" :value="option.value">{{option.text}}</option>
                                </select>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>


    </section>
</article>
<footer>
    <com-footer></com-footer>
</footer>

<!--<script data-main="assetsjs/main" src="assetsjs/require.js"></script>-->
<script src="assets/libs/jquery.min.js"></script>
<script src="assets/libs/bootstrap.min.js"></script>
<script src="assets/libs/daterangepicker/moment.min.js"></script>
<script src="assets/libs/daterangepicker/daterangepicker.js"></script>
<script src="assets/libs/extendPagination.js"></script>
<script src="assets/libs/jquery.blockUI.js"></script>
<script >
    var scriptList=['./dist/header-footer.js','./dist/supervision-mine.js'];
</script>
<script src="dist/main.js"></script>

</body>
</html>