<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="apploication/json">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>督办管理-全部督办</title>
   <base href="" id="baseTag">
    <script>
        document.getElementById("baseTag").href=location.protocol+"//"+location.host+"/";
    </script>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/daterangepicker.css" rel="stylesheet">
    <link href="assets/css/supervision.css" rel="stylesheet">   
    <script src="assets/libs/vue.min.js"></script>
    
</head>
<body>
<!--head-->
<header>
    <com-header></com-header>
</header>
<!--head end-->
<article>
    <section>

        <div role="tabpanel" class="tab-pane fade in active">         
           <div class="btn-group" role="group" aria-label="..."  style="margin-top: 1rem;">
           督办管理
              ><a type="button">全部督办</a>
            </div>
            
            <img class="horizontal-line" src="assets/images/hori-line.png"/>    
            <!-- <p>督办管理</p> -->
            <section class="inner-tab ">
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="pages/supervision/supervision-mine.html">我的督办</a></li>
                    <li role="presentation" class="active"><a >全部督办</a></li>
                    <li role="presentation" ><a href="pages/supervision/supervision-edit.html">新建督办</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-panel fade in active" >
                        <p class="tip"><span>展示所有的督办信息，包括您作为责任领导和责任人的督办任务。</span></p>
                        <section id="filterSection">
                            <div class="filter">
                                <ul class="filter-item filter-field clearfix">
                                    <li class="item-title">组织：</li>
                                    <li v-for="pitem in org.show">
                                        <a :class="['btn',{'btn-success':pitem.status=='1'}]"
                                           @click="changeOrg($index,'show')">{{pitem.name}}</a>
                                    </li>

                                    <li class="more" v-if="org.more.length>0">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                更多 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu panel panel-default">
                                                <template v-for="item in org.more">
                                                    <li @click="changeOrg($index,'more')">
                                                    <a :class="['btn','drop-menu-btn',{'btn-success':item.status=='1'}]"
                                                    >{{item.name}}</a></li>
                                                </template>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="filter-item filter-field clearfix">
                                    <li class="item-title">部门：</li>
                                    <li v-for="ditem in depts.show">
                                        <a :class="['btn',{'btn-success':ditem.status=='1'}]"
                                           @click="changeArea($index,'show','depts')">{{ditem.name}}</a>
                                    </li>

                                    <li class="more" v-if="depts.more.length>0">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                更多 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu panel panel-default">
                                                <template v-for="ditem in depts.more">
                                                    <li @click="changeArea($index,'more','depts')">
                                                    <a :class="['btn','drop-menu-btn',{'btn-success':ditem.status=='1'}]"
                                                    >{{ditem.name}}</a></li>
                                                </template>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="filter-item filter-time" id="datePicker">
                                    <li class="item-title" style="text-align: center;">计划完成时间：</li>
                                    <!--  <li v-for="n in 4"><a :class="['btn',{'btn-success':}]" data-mark="all" @click="changeTime($event)">全部</a></li> -->

                                    <li><a class="btn btn-success" data-mark="all" @click="changeTime($event)">全部</a>
                                    </li>
                                    <li><a class="btn" data-mark="lastweek" @click="changeTime($event)">上周</a></li>
                                    <li><a class="btn" data-mark="thisweek" @click="changeTime($event)">本周</a></li>
                                    <li><a class="btn" data-mark="nextweek" @click="changeTime($event)">下周</a></li>
                                    <li class="date-select">
                                        <input type="text" class="form-control" id="startDate"
                                               placeholder="请选择开始日期"/><span>&nbsp;  到 &nbsp;</span>
                                        <input type="text" class="form-control" id="endDate" placeholder="请选择结束日期"/>
                                        <a class="btn btn-default " style="margin-left: 1.5rem;" data-mark="custom"
                                           @click="changeTime($event)">时段</a>
                                    </li>

                                </ul>
                                <ul class="filter-item filter-field clearfix">
                                    <li class="item-title">领域：</li>
                                    <li v-for="pitem in area.show">
                                        <a :class="['btn',{'btn-success':pitem.status=='1'}]"
                                           @click="changeArea($index,'show','area')">{{pitem.dicname}}</a>
                                    </li>

                                    <li class="more" v-if="area.more.length>0">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                更多 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu panel panel-default">
                                                <template v-for="item in area.more">
                                                    <li @click="changeArea($index,'more','area')">
                                                    <a :class="['btn','drop-menu-btn',{'btn-success':item.status=='1'}]">{{item.dicname}}</a></li>
                                                </template>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="filter-item field-res">
                                  <li class="item-title filter-res">督办来源：</li>
                                  <li v-for="item in source.show"><a @click="changeArea($index,'show','source')"
                                                    :class="['btn',{'btn-success':item.status=='1'}]">{{item.dicname}}</a></li>
                                    <li class="more" v-if="source.more.length>0">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                更多 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu panel panel-default">
                                                <template v-for="item in source.more">
                                                    <li >
                                                    <a :class="['btn','drop-menu-btn',{'btn-success':item.status=='1'}]"
                                                     @click="changeArea($index,'more','source')">{{item.dicname}}</a></li>
                                                </template>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="filter-item field-res">
                                  <li class="item-title filter-res">会议分类：</li>
                                  <li v-for="item in derivedMeeting"><a @click="changeMeeting($index)"
                                                    :class="['btn',{'btn-success':item.status=='1'}]">{{item.dicname}}</a></li>
                                </ul>
                            </div>
                             <div class="state">

                                 <label v-for="item in stateList" class="checkbox-inline" :style="{marginLeft:item.margin};">
                                     <input type="checkbox" value="{{item.value}}" checked><span
                                         :class="['label',item.feature]" > {{item.label}}</span>
                                 </label>
                             </div>
                        </section>
                        <section class="grid-table container-fluid " id="result-section" style="margin-top: 3rem;">                        
                            <div id="keySec">
                                <table class="table table-hover table-condensed content-key datatable" id="keyList">
                                    <thead >
                                    <tr>
                                        <th v-for=" n in 8" :class="[keyItems.sorting[n]]" @click="sortColumn(n,'key')">
                                            {{ths[n].val}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="grid-content " v-for="item in keyItems.show">
                                        <td>{{item.code}}</td>
                                         <td><a class="item-name" :href="'pages/supervision/supervision-detail.html?id='+item.id+'&previous=all'">{{item.name}}</a></td>
                                        <td>{{item.accountablename}}</td>
                                        <td>{{item.responsiblename}}</td>
                                        <td>{{item.estimatedcompletetiontime}}</td>
                                        <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[parseInt(item.urgency)-1]}">{{item.urgency}}</div>
                                        </td>
                                        <td>
                                            <div class="level" :style="{backgroundColor: levelBackground[item.importance-1]}">{{item.importance}}</div>
                                        </td>
                                        <td>
                                            <div onmouseover="hoverFunction(this)" onmouseout="outFunction(this)"
                                                 style="position: relative;">
                                                <div class="progress">
                                                    <div :class=['progress-bar','small-pro',item.rateState]
                                                         role="progressbar"
                                                         aria-valuenow="{{item.rate}}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         :style="{width: item.rate+'%'}">
                                                        {{item.rate}}%
                                                    </div>
                                                </div>
                                                <span style="display: block;width: 100%;height: 4rem;overflow-y: hidden;">{{item.latestDesc}}
                                                </span>

                                                <div class="hoverInfo">{{item.latestDesc}}</div>
                                                <!-- /.hoverInfo -->
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                  <form class="form-horizontal" style="width: 15rem;float: right;">
                                  <div class="form-group">
                                    <label  class="col-sm-5 control-label">条数</label>
                                    <div class="col-sm-7">
                                     <select class="form-control" id="keyPagesizeSelect"> 
                                    <option value="3">3</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    </select> 
                                    </div>
                                  </div>
                                </form>
                                <div class="pagination-outer" id="key-pagination" style="text-align: right;">
                                </div>
                              
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>


    </section>
</article>
<footer>
    <com-footer></com-footer>
</footer>

<!--<script data-main="assetsjs/main" src="assetsjs/require.js"></script>-->
<script src="assets/libs/jquery.min.js"></script>
<script src="assets/libs/bootstrap.min.js"></script>
<script src="assets/libs/daterangepicker/moment.min.js"></script>
<script src="assets/libs/daterangepicker/daterangepicker.js"></script>
<script src="assets/libs/jquery.blockUI.js"></script>
<script src="assets/libs/extendPagination.js"></script>
<script>
    var scriptList=['./dist/header-footer.js','./dist/supervision-all.js'];
    var hidNode = null;
    function hoverFunction(x) {
        hidNode = x.getElementsByClassName("hoverInfo")[0];
        hidNode.style.display = "block";

    }
    function outFunction(x) {
        hidNode.style.display = "none";
    }
</script>
<script src="dist/main.js"></script>
</body>
</html>