<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>督办管理-首页</title>
<base href="http://172.16.51.144/">
    <!-- Bootstrap -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/daterangepicker.css" rel="stylesheet">   
    <link href="assets/css/supervision.css" rel="stylesheet"> 
    <script src="assets/libs/vue.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
</head>
<body>
<!--head-->
<header>
    <com-header></com-header>
</header>
<!--head end-->
<article id="article">
	      <div class="btn-group" role="group" aria-label="..." style="margin-top: 1rem;">
           督办管理
              <template v-if="previous=='all'">><a type="button" href="pages/supervision/supervision-all.html">全部督办</a></template>
              <template v-if="previous=='mine'">><a type="button" href="pages/supervision/supervision-mine.html">我的督办</a></template>
              ><a type="button">督办详情</a>
            </div>            
<img class="horizontal-line" src="assets/images/hori-line.png"/>
    <section class="details">
	<ul class="nav nav-tabs" role="tablist" >
	    <li role="presentation" :class="{'active':actpage=='mine'}"><a href="pages/supervision/supervision-mine.html" >我的督办</a></li>
	    <li role="presentation" :class="{'active':actpage=='all'}"><a href="pages/supervision/supervision-all.html" >全部督办</a>
	    </li>
	    <li role="presentation" :class="{'active':actpage=='new'}"><a href="pages/supervision/supervision-edit.html">新建督办</a></li>
	</ul>
	<div class="tab-content">
	<style scoped>
		.table a:hover{
			cursor: pointer;
		}
	</style>
	    <div role="tabpanel" class="tab-pane fade in active" id="supervisionDetail_panel">
		<table class="table table-bordered">
		    <tr class="title1">
			<td colspan="6">督办明细
				<a type="button" style="float: right;margin-right: 1rem;">返回</a>
			</td>
		    </tr>
		    <tr class="title2">
			<td colspan="6">督办层级详情</td>
		    </tr>
		    <tr class="level-head">
			<td width="12%"></td>
			<td width="43%">督办名称</td>
			<td width="8%">责任领导</td>
			<td width="7%">责任人</td>
			<td width="10%">计划完成时间</td>
			<td width="20%">操作</td>
		    </tr>
		    <tr class="supervision-level">

			<td rowspan="{{children.length+1}}">
			    <div class="graph-unit">
				<div class="progress">
				    <div class="progress-bar progress-bar-success small-pro" role="progressbar"
					 aria-valuenow="{{latestTrace.rate}}"
					 aria-valuemin="0" aria-valuemax="100" :style="{width:latestTrace.rate+'%'}">
					{{latestTrace.rate}}%
				    </div>
				</div>
			    </div>
			    <template v-for="item in children">
				<div class="child-graph">
				    <div class="left"></div>
				    <div class="progress right">
					<div class="progress-bar progress-bar-success small-pro" role="progressbar"
					     aria-valuenow="{{item.latestTrace.rate}}" aria-valuemin="0"
					     aria-valuemax="100" :style="{width:item.latestTrace.rate+'%'}">
					    {{item.latestTrace.rate}}%
					</div>
				    </div>
				</div>
			    </template>			   
			</td>
			<td><p class="td-content">{{name}}</p></td>
			<td class="middle"><p>{{accountablename}}</p></td>
			<td class="middle"><p>{{responsiblename}}</p></td>
			<td class="middle"><p>{{estimatedcompletetiontime}}</p></td>
			<td class="middle">
			    <a :href="'pages/supervision/supervision-edit.html?pid='+id" class="menu">新增子项</a>
			    <a data-toggle="modal" type="button" @click="updateProgress(id)">更新进度</a>
			</td>
		    </tr>

		    <tr class="supervision-level" v-for="item in children">
			<td><p class="td-content">{{item.name}}</p></td>
			<td class="middle"><p>{{item.accountablename}}</p></td>
			<td class="middle"><p>{{item.responsiblename}}</p></td>
			<td class="middle"><p>{{item.estimatedcompletetiontime}}</p></td>
			<td class="middle">
			    <a :href="'pages/supervision/supervision-edit.html?id='+item.id+'&previous=detail'" class="menu">编辑</a>
			    <!-- /.menu --><a @click="postphone(item)" class="menu">延期</a>
			    <!-- /.menu --><a @click="revoke(item)"class="menu">撤销</a>
			    <!-- /.menu --><a @click="close(item)" class="menu">关闭</a>
			    <!-- /.menu -->
			</td>
		    </tr>
		    <tr class="title2">
			<td colspan="6">都办任务详情</td>
		    </tr>
		    <tr>
			<td class="al-right">督办事项</td>
			<!-- /.al-right -->
			<td class="al-left" colspan="5"><p class="td-content">{{name}}</p></td>
			<!-- /.al-left -->
		    </tr>
		    <tr>
			<td class="al-right">督办事项编号</td>
			<!-- /.al-right -->
			<td class="al-left">{{code}}</td>
			<!-- /.al-left -->
			<td class="al-right" colspan="2">督办来源</td>
			<!-- /.al-right -->
			<td class="al-left" colspan="2">{{source}}</td>
			<!-- /.al-left -->
		    </tr>
		    <tr>
			<td class="al-right">领域</td>
			<!-- /.al-right -->
			<td class="al-left">{{area}}</td>
			<!-- /.al-left -->
			<td class="al-right" colspan="2">{{estimatedcompletetiontime}}</td>
			<!-- /.al-right -->
			<td class="al-left" colspan="2">2016-07-17</td>
			<!-- /.al-left -->
		    </tr>
		    <tr>
			<td class="al-right">责任领导</td>
			<!-- /.al-right -->
			<td class="al-left">{{accountablename}}</td>
			<!-- /.al-left -->
			<td class="al-right" colspan="2">紧急程度</td>
			<!-- /.al-right -->
			<td class="al-left" colspan="2">{{urgency}}</td>
			<!-- /.al-left -->
		    </tr>
		    <tr>
			<td class="al-right">责任部门</td>
			<!-- /.al-right -->
			<td class="al-left" v-text="scope"></td>
			<!-- /.al-left -->
			<td class="al-right" colspan="2">重要程度</td>
			<!-- /.al-right -->
			<td class="al-left" colspan="2">{{importance}}</td>
			<!-- /.al-left -->
		    </tr>
		    <tr>
			<td class="al-right">责任人</td>
			<!-- /.al-right -->
			<td class="al-left">{{responsiblename}}</td>
			<!-- /.al-left -->
			<td class="al-right" colspan="2">协办及通知部门</td>
			<!-- /.al-right -->
			<td class="al-left" colspan="2">{{scope}}</td>

		    </tr>
		   
		    <tr>
			<td class="al-right">备注</td>
			<td colspan="5" v-text="comments"></td>
		    </tr>
		    <tr>
			<td class="al-right">督办来源链接</td>
			<td colspan="5"></td>
		    </tr>
		    <tr>
			<td class="al-right">附件</td>
			<td colspan="5"></td>
		    </tr>
		    <tr class="title2">
			<td colspan="6" class="al-right">执行进展</td>
		    </tr>
		    <!-- /.title2 -->
		    <tr>
			<td colspan="6" style="padding:0;">
			    <table class="table table-bordered pro-table ">
				<tr class="level-head">
				    <td>执行时间</td>
				    <td>执行人</td>
				    <td>进度</td>
				    <td width="50%">执行情况</td>
				</tr>
				<tr class="middle">
				    <td>{{latestTrace.updatetime}}</td>
				    <td>{{latestTrace.operatorname}}</td>
				    <td>{{latestTrace.rate}}%</td>
				    <td>{{latestTrace.description}}</td>
				</tr>
				<!-- /.level-head -->
			    </table>
			</td>
		    </tr>
		    <!-- /.level-head -->
		</table>
		<!-- <update-rate :modal_id="progressModalId" :rate.sync="progressRate" ></update-rate> -->
		<modal-pop :modal_id="modalId">
				<template slot="body">
					<form class="form-horizontal" v-show="currentModal=='updateProgress'">
					  <div class="form-group">
						    <label  class="col-sm-2 control-label">进度</label>
						    <div class="col-sm-10">
						    <style scoped>
								.progress-container{
									width: 100%;
								}
						    </style>
						    	<progress-bar :rate.sync="progressRate"></progress-bar>
						    </div>
					  </div>
						<div class="form-group">
							<label class="col-sm-2 control-label">更新原因</label>
							<div class="col-sm-10">
								<textarea class="form-control" v-model="comments"></textarea>
							</div>
							
						</div>					
					</form>
					<postphone v-show="currentModal=='postphone'" :estimatedcompletetiontime.sync="updateItem.postphoneDate" :comment.sync="updateItem.comment"></postphone>	
					<form class="form-horizontal" v-show='currentModal=="revoke"'>					 
						  <div class="form-group">
						    <label  class="col-sm-2 control-label">撤销原因</label>
						    <div class="col-sm-10">
						   		<textarea class="form-control" id="revokeArea" v-model="comments"></textarea>
						    </div>
						  </div>
				  	</form>
				  	<div v-show="currentModal=='close'">确定要关闭此督办吗？(确定点保存)</div>
				  	<p v-show="currentModal=='success'">保存成功</p>
				  	<p v-show="currentModal=='fail'">保存失败</p>
				</template>
				  <button type="button" class="btn btn-primary" @click="saveChanges" slot="save">保存</button>
		</modal-pop>
		<!-- detail tab end-->
	    </div>
	</div>
    </section>
    </div>

</article>
<footer>
    <com-footer></com-footer>
</footer>
<script type="text/javascript" src="assets/libs/jquery.min.js"></script>
<script type="text/javascript" src="assets/libs/bootstrap.min.js"></script>
<script src="assets/libs/daterangepicker/moment.min.js"></script>
<script src="assets/libs/daterangepicker/daterangepicker.js"></script>
<script >
	 var scriptList=['./dist/header-footer.js','./dist/supervision-detail.js'];
</script>
<script src="dist/main.js"></script>
</body>
</html>